<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= title %></title>
</head>
<body>
<div data-role='header' class="ui-grid-a">
    <h1>
        <input id="date" type="date" style="text-align: center;">
    </h1>
</div>

<div data-role="content" >
    <table>
        <tr>
            <td>조장</td>
            <td colspan="2"><%= team_leader%></td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td>조원</td>
            <td colspan="2"><%= team_member%></td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td>측정장소</td>
            <td colspan="2"><%= location%></td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td>차량번호</td>
            <td colspan="2"><%= car_number%></td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td>차량종류</td>
            <td colspan="2"><%= car_type%></td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td>측정장비</td>
            <td colspan="2"><%= equipment_name%></td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td>시작전 KM</td>
            <td colspan="2"><%= car_mileage_before%> KM</td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td>현재주유상태</td>
            <td colspan="2"><%= car_refuel_state%></td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td>호 완료율</td>
            <td colspan="2"><%= callsPercentage%></td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td>총 측정 회차</td>
            <td colspan="2"><%= measure_inning%></td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td>장애발생 횟수</td>
            <td colspan="2"><%= ErrCount%></td>
        </tr>
        <tr>
            <td>측정후 KM</td>
            <td><input type="number" name="car_mileage_after" id="car_mileage_after" value="" placeholder="331241 [숫자만입력]"></td>
            <td>KM</td>
        </tr>
        <tr>
            <td>금일 주유 금액</td>
            <td><input type="number" name="refueling_price" id="refueling_price" value="" placeholder="20000 [숫자만입력]"></td>
            <td>원</td>
        </tr>
    </table>
    <div data-role="fieldcontain">
        <label for="car_significant">금일 차량 특이사항</label>
        <textarea name="car_significant" id="car_significant" value=""></textarea>
        <br>
        <label for="cause_of_incompletion">금일 실적 미완료 원인</label>
        <textarea name="cause_of_incompletion" id="cause_of_incompletion" value=""></textarea>
        <br>
        <label for="cause_of_incompletion">향후 실적 조치방안</label>
        <textarea name="plan_of_incompletion" id="plan_of_incompletion" value=""></textarea>
    </div>
    <table>
        <tr>
            <td>측정종료<br>복귀시간</td>
            <td><input type="time" name="move_start_time" id="move_start_time" value=""></td>
            <td>~</td>
            <td><input type="time" name="move_end_time" id="move_end_time" value=""></td>
        </tr>
        <tr>
            <td>FTP<br><font size="2">측정데이터</font><br>업로드</td>
            <td><input type="time" name="stime" id="stime" value=""></td>
            <td>~</td>
            <td> <input type="time" name="etime" id="etime" value=""></td>
        </tr>
    </table>
</div>
<div data-role="footer">
    <h1>
        <a href="" data-role="button" id="saveBtn" data-icon="edit">최종완료</a>
        <button data-icon="delete" class="Cencel" >취소</button>
    </h1>
</div>
</body>

<script>
    $(function() {
        var query = getUrlParams(); //쿼리스트링 받아오기
        $('#date').val(date());
        $("#saveBtn").click(function() {
            if ($('#move_start_time').val() == '' || $('#move_end_time').val() == '') {
                alert('측정종료 복귀시간을 입력해주세요.');
            } else if ($('#stime').val() == '' || $('#etime').val() == '') {
                alert('FTP측정데이터 업로드 시간을 입력해주세요.');
            }  else {
                var param = {
                    // report
                    refueling_price : $('#refueling_price').val(), //주유금액
                    car_mileage_after : $('#car_mileage_after').val(), //측정이후 km
                    car_significant : $('#car_significant').val(), //차량특이사항
                    cause_of_incompletion : $('#cause_of_incompletion').val(), //금일실적미완료원인
                    plan_of_incompletion : $('#plan_of_incompletion').val(), //향후실적조치방안

                    // details
                    move_start_time : $('#move_start_time').val(),
                    move_end_time : $('#move_end_time').val(),  //측정종료후 복귀시간 - 102

                    stime : $('#stime').val(),
                    etime : $('#etime').val()   //FTP측정 데이터 업로드시간 - 103
                };
                $.ajax({
                    url: "http:http://localhost:3000/reports/confirm?report="+ query.report, // API
                    type: "POST",
                    dataType: "json",
                    data: param,
                    success: function (data) {
                        if (data.result === 'ok') {
                            return window.location.href = "http:http://localhost:3000/reports?action=0";
                        }
                        alert('작성실패');
                    },
                    error: function(data){
                        alert("code:"+data.status+"\n");
                    }
                });
            }
        });
        $(".Cencel").click(function() {
            window.location.href = "http:http://localhost:3000/details?Report="+ query.report;
        });
        function getUrlParams() {
            const params = {};
            window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) { params[key] = value; });
            return params;
        }

        function date() {
            var date = new Date();

            var year  = date.getFullYear();
            var month = date.getMonth() + 1; // 0부터 시작하므로 1더함 더함
            var day   = date.getDate();

            if(month < 10) {
                month = "0"+month;
            }
            if(day < 10) {
                day = "0"+day
            }
            return year +'-'+month+'-'+day;
        }
    });
</script>
</html>
