<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= title %></title>
</head>
<body>
    <div data-role="page" id="page1">
        <div class="ui-bar ui-bar-a" style="text-align:center" >
            <h1><%= title %></h1>
        </div>
        <div data-role="content" >
            <a href="#page2" data-role="button" id="addReport">+</a>
            <ul data-role="listview" data-inset="true">
                <% if(detail[0].id) { %>
                    <% for(var i = 0; i < detail.length ; i++) {%>
                    <li>
                        <div dat-role="controlgroup">
                            <button style="width: 80%; float: left;" data-role="button" class="datailList" value="<%= detail[i].id%>">
                                <p  style="float: left; text-align:left" >
                                    측정회차 : <%= detail[i].work_Details+""+"차측정"%><br>
                                    측정장소 : <%= detail[i].location + " " + detail[i].locationDetail%><br>
                                    측정팀 : <%= detail[i].team_name%>
                                </p>
                            </button>
                            <div style=" float: right">
                                <button data-role="button" data-icon="edit" data-iconpos="notext" data-inline="true" class="btninfo" value="<%= detail[i].id%>"></button>
                                <button data-icon="delete" data-mini="true" data-iconpos="notext" data-inline="true" class="deleteinfo" value="<%= detail[i].id%>"></button>
                            </div>
                        </div>
                    </li>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </div>

    <div data-role="page" id="page2">
        <div class="ui-bar ui-bar-a" style="text-align:center" >
            <input id="date1" type="date" style="text-align: center;">
        </div>
        <div data-role="content" >
            <p>사용자 :</p>
            <input type="text" class="group_leader" value="" />
            <p>조원 : </p>
            <input type="text" class="group_member" value="" />
            <p>측정 장소 : </p>
            <input type="text" class="measure_palce" value="" />
            <p>측정 장비 :</p>
            <input type="text" class="measure_machine" value=""/>
            <p>측정 회차 : </p>
            <input type="number" class="work_details" min="1" max="20" step="1" />
            <p>측정 유형1 :</p>
            <input type="text" class="target1" value=""/>
            <p>측정 유형2 :</p>
            <input type="text" class="target2" value=""/>
            <p>차정장소(동호수) : </p>
            <input type="text" class="location" value=""/>

            <div class="ui-grid-d">
                <p>측정 소요시간 : </p>
                <div class="ui-block-b">
                    <input type="time" class="start_time" value="">
                </div>
                <div class="ui-block-b" >
                    <p>시작</p>
                </div>
                <div class="ui-block-c" >
                    <input type="time" class="end_time" value="">
                </div>
                <div class="ui-block-c" >
                    <p>종료</p>
                </div>
            </div>

            <p>측정 Call 횟수 : </p>
            <input type="number" class="calls" value=""/>


            <div class="ui-field-contain">
                <label for="errCheck">측정전 장애 발생 유무 : </label>
                <select name="errCheck" id="errCheck" class="errCheck" data-iconpos="left" onchange="ErrSelect(this.value);">
                    <option value="1" selected>장애 미발생</option>
                    <option value="0">장애 발생</option>
                </select>
            </div>

            <!-- selectbox 에따른 hidden 옵션 -->
            <div class="ErrSelect" style="display:none" class="obstacle_classification">
                <div class="ui-field-contain">
                    <label for="obstacle_classification">지연구분 : </label>
                    <select name="obstacle_classification" id="obstacle_classification" class="obstacle_classification" data-iconpos="left">
                        <option value="측정자">측정자</option>
                        <option value="장비">장비</option>
                        <option value="노트북">노트북</option>
                        <option value="프로그램">프로그램</option>
                        <option value="단말기">단말기</option>
                        <option value="기타">기타</option>
                    </select>
                </div>

                <div class="ui-grid-d">
                    <div class="ui-block-b" >
                        <p>세부내역</p>
                    </div>
                    <div class="ui-block-b">
                        <input type="text" class="obstacle_details" placeholder="ex)블루투스알람 등등 " value="">
                    </div>
                </div>
                <div class="ui-grid-d">
                    <div class="ui-block-b">
                        <input type="time" class="obstacle_start_time" value="">
                    </div>
                    <div class="ui-block-b" >
                        <p>시작</p>
                    </div>
                    <div class="ui-block-c" >
                        <input type="time" class="obstacle_end_time" value="">
                    </div>
                    <div class="ui-block-c" >
                        <p>종료</p>
                    </div>
                </div>

                <div data-role="fieldcontain">
                    <label for="obstacle_phenomenon">장애 내역 (분석실 pm에 보고 내용) :</label>
                    <textarea id="obstacle_phenomenon" class="obstacle_phenomenon"></textarea>
                </div>

                <div data-role="fieldcontain">
                    <label for="obstacle_result">장애 대응 내역 (분석실 pm 대응 방안) :</label>
                    <textarea id="obstacle_result" class="obstacle_result"></textarea>
                </div>
            </div>

        </div>

        <div data-role="footer">
            <h1>
                <a href="" data-role="button" class="saveBtn" data-icon="edit">저장</a>
                <button data-icon="delete" class="Cencel" >취소</button>
            </h1>
        </div>

    </div>

</body>
<script>

    $(function() {
        var query = getUrlParams(); //쿼리스트링 받아오기
        $(".Cencel").click(function() {
            window.location.href = "http://localhost:3000/details?Report="+query.Report;
        });
        $("#date1").val(date());
        $(".saveBtn").click(function() {
            var param = {
                Reportid: query.Report,
                date: $("#date1").val(),
                group_leader: $(".group_leader").val(),
                group_member: $(".group_member").val(),
                measure_place: $(".measure_palce").val(),
                measure_machine : $("#measure_machine").val(),
                work_details : $(".work_details").val(),
                target1 : $(".target1").val(),
                target2 : $(".target2").val(),
                location : $(".location").val(),
                start_time : $(".start_time").val(),
                end_time : $(".end_time").val(),
                calls : $('.calls').val(),
                errCheck : $(".errCheck").val(),
                errorList : {
                    obstacle_classification: $("#obstacle_classification").val(),
                    obstacle_details: $("#obstacle_details").val(),
                    obstacle_start_time: $(".obstacle_start_time").val(),
                    obstacle_end_time : $(".obstacle_end_time").val(),
                    obstacle_phenomenon: $(".obstacle_phenomenon").val(),
                    obstacle_result: $(".obstacle_result").val()
                }
            };
            $.ajax({
                url: "http://localhost:3000/details", // REST API
                type: "POST",
                dataType: "json",
                data: param,
                success: function (data) {
                    if (data.result === 'ok') {
                        return window.location.href = "http://localhost:3000/details?Report="+query.Report;
                    }
                    alert('작성실패');
                },
                error: function(data){
                    alert("code:"+data.status+"\n");
                }
            });
        });
    });

    function getUrlParams() {
        const params = {};
        window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) { params[key] = value; });
        return params;
    }

    function ErrSelect(Val) {
        if (Val === '0') {
            $('.ErrSelect').css("display", "block");

            console.log(Val);
        } else if(Val ==='1') {
            $('.ErrSelect').css("display", "none");
            //$('#errInfo').text('');
            $('.errInfo').text();
            $('.errSolution').text();
        }
    }

    function date(){
        var date = new Date();

        var year  = date.getFullYear();
        var month = date.getMonth() + 1; // 0부터 시작하므로 1더함 더함
        var day   = date.getDate();

        if(month < 10) {
            month = "0"+month;
        }
        if(day < 10) {
            day = "0"+day
        }
        return year +'-'+month+'-'+day;
    }
</script>
</html>
