<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= title %></title>
</head>
<body>
    <div data-role="page" id="page1">
        <div data-role='header'>
            <h1><%= title %></h1>
        </div>
        <div data-role="content" >
            <a href="#page2" data-role="button" id="addReport">+</a>
            <ul data-role="listview" data-inset="true">
                <% for(var i = 0; i < report.length ; i++) {%>
                <li>
                    <div dat-role="controlgroup">
                        <p style="width: 80%; float: left">
                            <%= report[i].date%><br>
                            <%= "측정장소 : "+report[i].location +" "+ report[i].location_detail%><br>
                            <%= "측정팀 : " +report[i].teamName%><br>
                        </p>
                        <div style=" float: right">
                            <button data-role="button" data-icon="edit" data-iconpos="notext" data-inline="true" class="btninfo" value="<%= report[i].id%>"></button>
                            <button data-icon="delete" data-mini="true" data-iconpos="notext" data-inline="true"></button>
                        </div>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>

    <div data-role="page" id="page2">
            <div data-role='header' class="ui-grid-a">
                <h1>
                    <input id="date" type="date" style="text-align: center;">
                </h1>
            </div>

            <div data-role="content" >
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <p>조장 :</p>
                    </div>
                    <div class="ui-block-b">

                        <input type="text" name="group_leader" id="group_leader" value="<%= leader%>"  />
                    </div>
                    <div class="ui-block-a" >
                        <p>조원 : </p>
                    </div>
                    <div class="ui-block-b" >
                        <input type="text" name="group_member" id="group_member" value="<%= member%>" />
                    </div>
                    <div class="ui-block-a">
                        <p>측정장소 : </p>
                    </div>
                    <div class="ui-block-b" >
                        <input type="text" name="measure_palce" id="measure_palce" value="<%= base.location%>"  />
                    </div>

                    <div class="ui-block-a">
                        <p>차량번호 : </p>
                    </div>
                    <div class="ui-block-b" >
                        <input type="text" name="car_number" id="car_number" value="<%= base.car_number%>"  />
                    </div>

                    <div class="ui-block-a" >
                        <p>차량종류 : </p>
                    </div>
                    <div class="ui-block-b" >
                        <input type="text" name="car_kind" id="car_kind" value="<%= base.car_type%>"  />
                    </div>
                </div>
                <div class="ui-grid-b">
                    <div class="ui-block-a" >
                        <p>측정장비 :</p>
                    </div>
                    <div class="ui-block-b" >
                        <input type="text" name="measure_machine" id="measure_machine" value="<%= equipment.equipment_name%>">
                        <input type="hidden" name="myName" id="myName" value="<%= equipment.name%>">
                    </div>
                </div>
                <div class="ui-grid-b">
                    <div class="ui-block-a" >
                        <p>시작전 KM :</p>
                    </div>
                    <div class="ui-block-b" >
                        <input type="text" name="KM" id="KM" value="">
                    </div>
                    <div class="ui-block-b" >
                        <p> KM</p>
                    </div>
                </div>
                <div class="ui-grid-b">
                    <div class="ui-field-contain">
                        <label for="select-native-3">현재주유상태 : </label>
                        <select name="select-native-3" id="select-native-3" data-iconpos="left">
                            <option value="1">하</option>
                            <option value="2">중하</option>
                            <option value="3" selected>중</option>
                            <option value="4">중상</option>
                            <option value="5">상</option>
                        </select>
                    </div>
                </div>
                <div class="ui-grid-d">
                    <p>집/대상지 이동시간 : </p>
                    <div class="ui-block-b">
                        <input type="time" name="move_start_time" id="move_start_time" value="">
                    </div>
                    <div class="ui-block-b" >
                        <p>시작</p>
                    </div>
                    <div class="ui-block-c" >
                        <input type="time" name="move_end_time" id="move_end_time" value="">
                    </div>
                    <div class="ui-block-c" >
                        <p>종료</p>
                    </div>
                </div>
                <div class="ui-grid-d">
                    <p>대상지 도착후 SETUP : </p>ㅡ
                    <div class="ui-block-b">
                        <input type="time" name="step_start_time" id="step_start_time" value="">
                    </div>
                    <div class="ui-block-b">
                        <p>시작</p>
                    </div>
                    <div class="ui-block-c">
                        <input type="time" name="step_end_time" id="step_end_time" value="">
                    </div>
                    <div class="ui-block-c" >
                        <p>종료</p>
                    </div>
                </div>
                <div class="ui-field-contain">
                    <label for="select-native-2">측정전 장애 발생 유무 : </label>
                    <select name="select-native-2" id="select-native-2" data-iconpos="left" onchange="ErrSelect(this.value);">
                        <option value="0">장애발생</option>
                        <option value="1" selected>장애 미발생</option>
                    </select>
                </div>

                <!-- selectbox 에따른 hidden 옵션 -->
                <div id="ErrSelect" style="display:none" >
                    <div class="ui-field-contain">
                        <label for="obstacle_classification">지연구분 : </label>
                        <select name="obstacle_classification" id="obstacle_classification" data-iconpos="left">
                            <option value="측정자">측정자</option>
                            <option value="장비">장비</option>
                            <option value="장비">노트북</option>
                            <option value="장비">프로그램</option>
                            <option value="장비">단말기</option>
                            <option value="장비">기타</option>
                        </select>

                    </div>

                    <div class="ui-grid-d">
                        <div class="ui-block-b" >
                            <p>세부내역</p>
                        </div>
                        <div class="ui-block-b">
                            <input type="text" name="obstacle_details" id="obstacle_details" placeholder="ex)블루투스알람 등등 " value="">
                        </div>
                    </div>
                    <div class="ui-grid-d">
                        <div class="ui-block-b">
                            <input type="time" name="err_start_time" id="err_start_time" value="">
                        </div>
                        <div class="ui-block-b" >
                            <p>시작</p>
                        </div>
                        <div class="ui-block-c" >
                            <input type="time" name="err_end_time" id="err_end_time" value="">
                        </div>
                        <div class="ui-block-c" >
                            <p>종료</p>
                        </div>
                    </div>

                    <div data-role="fieldcontain">
                        <label for="errInfo">장애 내역 (분석실 pm에 보고 내용) :</label>
                        <textarea name="errInfo" id="errInfo"></textarea>
                    </div>

                    <div data-role="fieldcontain">
                        <label for="errSolution">장애 대응 내역 (분석실 pm 대응 방안) :</label>
                        <textarea name="errSolution" id="errSolution"></textarea>
                    </div>
                </div>
            </div>
            <div data-role="footer">
                <h1>
                    <a href="" data-role="button" id="saveBtn" data-icon="edit">저장</a>
                    <button data-icon="delete" id="Cencel" >취소</button>
                </h1>
            </div>
        <!-- </form> -->
    </div>

    <div data-role="page" id="page3">
        <div data-role='header' class="ui-grid-a">
            <h1>
                <input id="date" type="date" style="text-align: center;">
            </h1>
        </div>
        <div data-role="content" >
            <input type="text" class="tlqkf" value="">
        </div>
    </div>
</body>
<script>
    $(function() {
        $("#addReport").click(function() {
            $('#date').val(date());
        });
        $("#Cencel").click(function() {
            window.location.href = "http://localhost:3000/reports?action=0";
        });
        $("#saveBtn").click(function() {
            var param = {
                date: $("#date").val(),
                group_leader: $("#group_leader").val(),
                group_member: $("#group_member").val(),
                measure_place: $("#measure_palce").val(),
                car_kind: $("#car_kind").val(),
                car_number: $("#car_number").val(),
                measure_machine : $("#measure_machine").val(),
                moveTime : {
                    startTime: $("#move_start_time").val(),
                    endTime: $("#move_end_time").val()
                },
                arrivalSETPUP : {
                    startTime : $("#step_start_time").val(),
                    endTime : $("#step_end_time").val()
                },
                errorList : {
                    obstacle_classification: $("#obstacle_classification").val(),
                    obstacle_details: $("#obstacle_details").val(),
                    startTime: $("#err_start_time").val(),
                    endTime : $("#err_end_time").val(),
                    errInfo: $("#errInfo").val(),
                    errSolution: $("#errSolution").val()
                },
                KM : $("#KM").val(),
                car_refuel_state : $('#select-native-3').val(),
                errCheck : $("#select-native-2").val()
            };
            $.ajax({
                url: "http://localhost:3000/reports",
                type: "POST",
                dataType: "json",
                data: param,
                success: function (data) {
                    if (data.result === 'ok') {
                        return window.location.href = "http://localhost:3000/reports?action=0";
                    }
                    alert('작성실패');
                },
                error: function(data){
                    alert("code:"+data.status+"\n");
                }
            });
        });
        $(".btninfo").click(function() {
            var Reportid = $(this).val();
            window.location.href = "http://localhost:3000/reports?action=0&Reportid="+Reportid+"#page3"
        });
    });

    function ErrSelect(Val) {
        if (Val === '0') {
            $('#ErrSelect').css("display", "block");
        } else {
            $('#ErrSelect').css("display", "none");
            //$('#errInfo').text('');
            $('#errInfo').text();
            $('#errSolution').text();
        }
    }
    function date(){
        var date = new Date();

        var year  = date.getFullYear();
        var month = date.getMonth() + 1; // 0부터 시작하므로 1더함 더함
        var day   = date.getDate();

        return year +'-'+month+'-'+day;
    }
</script>
</html>
