<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <title><%= title %></title>
</head>
<body>
    <div data-role='header'>
        <h1><%= title %></h1>
    </div>
    <div data-role="content" >
        <button id="addReport">+</button>
        <ul data-role="listview" data-inset="true">
            <% for(var i = 0; i < report.length ; i++) {%>
                <li>
                    <div dat-role="controlgroup">
                        <p style="width: 80%; float: left">
                            <%= report[i].date%><br>
                            <%= "측정장소 : "+report[i].location + report[i].target1%><br>
                            <%= "측정팀 : " +report[i].teamName%>
                        </p>
                        <div style=" float: right">
                            <button data-icon="edit" data-mini="true" data-iconpos="notext" data-inline="true"></button>
                            <button data-icon="delete" data-mini="true" data-iconpos="notext" data-inline="true"></button>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
</body>

</html>

