<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= title %></title>
</head>
<body>
    <div data-role="page" id="page1">
        <div data-role='header'>
            <h1><%= title %></h1>
        </div>
        <div data-role="content" >
            <a href="#page2" data-role="button" id="addReport">+</a>
            <ul data-role="listview" data-inset="true">
                <% if(report[0].id) { %>
                    <% for(var i = 0; i < report.length ; i++) {%>
                        <li>
                            <div dat-role="controlgroup">
                                <button style="width: 75%; float: left; margin-right: 40px; background-color: #f6f6f6; border-radius:10px; border: 1px solid #bcbcbc" class="datailList" value="<%= report[i].id%>">
                                    <p  style="float: left; text-align:left" >
                                        <%= "날짜 : "+ report[i].date%><br>
                                        <%= "측정장소 : "+report[i].location %><br>
                                        <%= "측정팀 : " +report[i].teamName + "" + report[i].team_no + "조"%><br>
                                        <!--id : <%= report[i].id%>-->
                                    </p>
                                </button>
                                <div style="padding-top: 9px">
                                    <!-- 수정버튼 -->
                                    <button style="margin-bottom: 5px" data-icon="edit" data-iconpos="notext" class="btninfo" value="<%= report[i].id%>"></button>
                                    <!-- 삭제버튼 -->
                                    <a href="#popupDialog" data-rel="popup" data-role="button" data-icon="delete" data-position-to="window" data-iconpos="notext" data-transition="pop"></a>
                                    <div data-role="popup" id="popupDialog" data-overlay-theme="a" data-theme="a" data-dismissible="false">
                                        <div data-role="header" data-theme="a">
                                            <h1>Delete?</h1>
                                        </div>
                                        <div role="main" class="ui-content" style="text-align: center">
                                            <h3 class="ui-title">Report를 삭제 하겠습니까?</h3>
                                            <button class="deleteinfo" data-inline="true" value="<%= report[i].id%>">삭제</button>
                                            <button class="deleteinfoCancle" data-inline="true"  >취소</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </div>
        <div data-role="footer" data-position="fixed" style="text-align: center">
            <h1>
                <a href="#popupChange" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" data-transition="pop">비밀번호변경</a>
                <div data-role="popup" id="popupChange" data-theme="a" class="ui-corner-all">
                    <div style="padding:10px 20px;">
                        <h3>변경할 비밀번호를 입력해주세요</h3>
                        <input type="password" name="pw1" id="pw1" value="" placeholder="변경할비밀번호" data-theme="a">
                        <input type="password" name="pw2" id="pw2" value="" placeholder="변경할비밀번호" data-theme="a">
                        <div style="text-align: center">
                            <button id="Change_pw" data-inline="true">변경</button>
                            <button id="Cancle_pw" data-inline="true">취소</button>
                        </div>
                    </div>
                </div>
                <button id="logoutBtn" >로그아웃</button>
            </h1>
        </div>
    </div>
    <div data-role="page" id="page2">
            <div data-role='header' class="ui-grid-a">
                <h1>
                    <input id="date" type="date" style="text-align: center;">
                </h1>
            </div>

            <div data-role="content" >
                <table>
                    <tr>
                        <td>조장 </td>
                        <td colspan="2"><input type="text" name="group_leader" id="group_leader" value="<%= leader%>"  /></td>
                    </tr>
                    <tr>
                        <td>조원 </td>
                        <td colspan="2"><input type="text" name="group_member" id="group_member" value="<%= member%>" /></td>
                    </tr>
                    <tr>
                        <td>측정장소 </td>
                        <td colspan="2"><input type="text" name="measure_palce" id="measure_palce" value="<%= location%>"  /></td>
                    </tr>
                    <tr>
                        <td>차량번호 </td>
                        <td colspan="2"><input type="text" name="car_number" id="car_number" value="<%= car_number%>"  /></td>
                    </tr>
                    <tr>
                        <td>차량종류 </td>
                        <td colspan="2"><input type="text" name="car_kind" id="car_kind" value="<%= car_type%>" /></td>
                    </tr>
                    <tr>
                        <td>측정장비 </td>
                        <td colspan="2"><input type="text" name="measure_machine" id="measure_machine" value="<%= equipment%>"></td>
                    </tr>
                    <tr>
                        <td>시작전 KM</td>
                        <td><input type="number" name="KM" id="KM" value="" placeholder="ex) 20 [숫자만입력]"></td>
                        <td>KM</td>
                    </tr>
                    <tr>
                        <td>현재<br>주유상태</td>
                        <td colspan="2">
                            <select name="select-native-3" id="select-native-3" data-iconpos="left">
                                <option value="1">하</option>
                                <option value="2">중하</option>
                                <option value="3" selected>중</option>
                                <option value="4">중상</option>
                                <option value="5">상</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>측정전<br>장애발생<br>유무</td>
                        <td colspan="2"><select name="select-native-2" id="select-native-2" data-iconpos="left" onchange="ErrSelect(this.value);">
                                <option value="0" selected>장애 미발생</option>
                                <option value="1">장애 발생</option>
                            </select></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>집/대상지<br>이동시간</td>
                        <td><input type="time" name="move_start_time" id="move_start_time" value=""></td>
                        <td>~</td>
                        <td><input type="time" name="move_end_time" id="move_end_time" value=""></td>
                    </tr>
                    <tr>
                        <td>대상지<br>도착후<br>SETUP</td>
                        <td><input type="time" name="step_start_time" id="step_start_time" value=""></td>
                        <td>~</td>
                        <td><input type="time" name="step_end_time" id="step_end_time" value=""></td>
                    </tr>
                </table>

                <div class="ui-field-contain"></div>

                <!-- selectbox 에따른 hidden 옵션 -->
                <div class="ErrSelect" id="ErrSelect" style="display:none">
                    <table>
                        <tr>
                            <td>지연구분</td>
                            <td colspan="3">
                                <select name="obstacle_classification" id="obstacle_classification" data-iconpos="left">
                                    <option value="측정자">측정자</option>
                                    <option value="장비">장비</option>
                                    <option value="노트북">노트북</option>
                                    <option value="프로그램">프로그램</option>
                                    <option value="단말기">단말기</option>
                                    <option value="기타">기타</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>세부내역</td>
                            <td colspan="3"><input type="text" name="obstacle_details" id="obstacle_details" placeholder="ex)블루투스알람 등등 " value=""></td>
                        </tr>
                        <tr>
                            <td>시간</td>
                            <td><input type="time" name="err_start_time" id="err_start_time" value=""></td>
                            <td>~</td>
                            <td><input type="time" name="err_end_time" id="err_end_time" value=""></td>
                        </tr>
                    </table>

                    <div data-role="fieldcontain">
                        <label for="errInfo">장애 내역 (분석실 pm에 보고 내용) :</label>
                        <textarea name="errInfo" id="errInfo" class="errInfo"></textarea>
                    </div>

                    <div data-role="fieldcontain">
                        <label for="errSolution">장애 대응 내역 (분석실 pm 대응 방안) :</label>
                        <textarea name="errSolution" id="errSolution" class="errSolution"></textarea>
                    </div>
                </div>
            </div>
            <div data-role="footer">
                <h1>
                    <a href="" data-role="button" id="saveBtn" data-icon="edit">저장</a>
                    <button data-icon="delete" class="Cencel" >취소</button>
                </h1>
            </div>
    </div>
    <div data-role="page" id="page3">
        <div data-role='header' class="ui-grid-a">
            <h1>
                <input id="date2" type="date" style="text-align: center;">
            </h1>
        </div>

        <div data-role="content" >
            <table>
                <tr>
                    <td>조장 </td>
                    <td colspan="2"><input type="text" name="car_manager" id="car_manager" value=""  /></td>
                </tr>
                <tr>
                    <td>조원 </td>
                    <td colspan="2"><input type="text" name="team_member" id="team_member" value="" /></td>
                </tr>
                <tr>
                    <td>측정장소 </td>
                    <td colspan="2"><input type="text" name="location" id="location" value=""  /></td>
                </tr>
                <tr>
                    <td>차량번호 </td>
                    <td colspan="2"><input type="text" name="car_number2" id="car_number2" value=""  /></td>
                </tr>
                <tr>
                    <td>차량종류 </td>
                    <td colspan="2"><input type="text" name="car_type" id="car_type" value=""  /></td>
                </tr>
                <tr>
                    <td>측정장비 </td>
                    <td colspan="2"><input type="text" name="equipment_name" id="equipment_name" value=""></td>
                </tr>
                <tr>
                    <td>시작전 KM</td>
                    <td><input type="text" name="KM" id="KM" class="Km" value="" placeholder="ex) 20 [숫자만입력]"></td>
                    <td>KM</td>
                </tr>
                <tr>
                    <td>현재<br>주유상태</td>
                    <td colspan="2">
                        <select name="select-native-33" id="select-native-33" data-iconpos="left">
                            <option value="1">하</option>
                            <option value="2">중하</option>
                            <option value="3" >중</option>
                            <option value="4">중상</option>
                            <option value="5">상</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>측정전<br>장애발생<br>유무</td>
                    <td colspan="2">
                        <select name="select-native-22" id="select-native-22" data-iconpos="left" onchange="ErrSelect2(this.value);">
                            <option value="0">장애 미발생</option>
                            <option value="1">장애 발생</option>
                        </select>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>집/대상지<br>이동시간</td>
                    <td><input type="time" name="move_start_time" id="move_start_time2" value=""></td>
                    <td>~</td>
                    <td><input type="time" name="move_end_time" id="move_end_time2" value=""></td>
                </tr>
                <tr>
                    <td>대상지<br>도착후<br>SETUP</td>
                    <td><input type="time" name="step_start_time" id="setup_start_time2" value=""></td>
                    <td>~</td>
                    <td><input type="time" name="step_end_time" id="setup_end_time2" value=""></td>
                </tr>
            </table>
            <input type="hidden" id="reportId" value="">


            <!-- selectbox 에따른 hidden 옵션 -->
            <div class="ErrSelect2" id="ErrSelect2" style="display:none" >
                <table>
                    <tr>
                        <td>지연구분</td>
                        <td colspan="3">
                            <select name="obstacle_classification2" id="obstacle_classification2" data-iconpos="left">
                                <option value="측정자">측정자</option>
                                <option value="장비">장비</option>
                                <option value="노트북">노트북</option>
                                <option value="프로그램">프로그램</option>
                                <option value="단말기">단말기</option>
                                <option value="기타">기타</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>세부내역</td>
                        <td colspan="3"><input type="text" name="obstacle_details" id="obstacle_details2" placeholder="ex)블루투스알람 등등 " value=""></td>
                    </tr>
                    <tr>
                        <td>시간</td>
                        <td><input type="time" name="err_start_time" id="err_start_time2" value=""></td>
                        <td>~</td>
                        <td><input type="time" name="err_end_time" id="err_end_time2" value=""></td>
                    </tr>
                </table>

                <div data-role="fieldcontain">
                    <label for="errInfo">장애 내역 (분석실 pm에 보고 내용) :</label>
                    <textarea name="errInfo" id="errInfo2" class="errInfo"></textarea>
                </div>

                <div data-role="fieldcontain">
                    <label for="errSolution">장애 대응 내역 (분석실 pm 대응 방안) :</label>
                    <textarea name="errSolution" id="errSolution2" class="errSolution"></textarea>
                </div>
            </div>
        </div>
        <div data-role="footer">
            <h1>
                <a href="" data-role="button" id="updateBtn" data-icon="edit">저장</a>
                <button data-icon="delete" class="Cencel" >취소</button>
            </h1>
        </div>
    </div>
</body>
<script>
    $(function() {
        $('#Change_pw').click(function() {
            var pw1 = $("#pw1").val();
            var pw2 = $("#pw2").val();
            if (pw1 !== pw2) {
                alert("비밀번호가 같지 않습니다.");
            } else if(pw1 == '' || pw2 == '') {
                alert("비밀번호를 입력해주세요");
            } else if(pw1 === pw2){
                param ={
                 password : pw1
                }
                $.ajax({
                    url: "http://localhost:3000/employees",
                    type: "PUT",
                    dataType: "json",
                    data: param,
                    success: function (data) {
                        if (data.result === 'ok') {
                            return (function(){
                                window.location.href = "http://localhost:3000/reports?action=0";
                                alert('비밀번호 변경 성공');
                            }());
                        }
                        alert('비밀번호 변경 실패');
                    },
                    error: function(data){
                        alert("code:"+data.status+"\n");
                    }
                });
            }
        });
        $('#Cancle_pw').click(function() {
            window.location.href = "http://localhost:3000/reports?action=0";
        });
        $('#logoutBtn').click(function() {
            alert('로그아웃 합니다.');
            return window.location.href = "http://localhost:3000/auth/logout"
        })
        $("#addReport").click(function() {
            $('#date').val(date());
        });
        $(".Cencel").click(function() {
            window.location.href = "http://localhost:3000/reports?action=0";
        });
        $("#saveBtn").click(function() {
            if ($("#group_leader").val() == '') {
                alert('조장을 입력해주세요.');
            } else if ($("#group_member").val() == ''){
                alert('조원을 입력해주세요.');
            } else if ($("#measure_palce").val() == '') {
                alert('측정장소를 입력해주세요.');
            } else if ($("#car_kind").val() == '') {
                alert('차종을 입력해주세요.');
            } else if ($("#car_number").val() == '') {
                alert('차량 번호를 입력해주세요.');
            } else if ($("#measure_machine").val() == '') {
                alert('측정장비를 입력해주세요.');
            } else if ($("#move_start_time").val() == '' || $("#move_end_time").val() == '') {
                alert('이동시간을 입력해주세요.');
            } else if ($("#step_start_time").val() == '' || $("#step_end_time").val() == '') {
                alert('SETUP시간을 입력해주세요.');
            } else if ($("#KM").val() == '') {
                alert('시작전 KM을 입력해주세요.');
            } else if ($("#KM").val() <= 0 ) {
                alert('시작전 KM는 양수를 입력해주세요.');
            } else {
                var param = {
                    date: $("#date").val(),
                    group_leader: $("#group_leader").val(),
                    group_member: $("#group_member").val(),
                    measure_place: $("#measure_palce").val(),
                    car_kind: $("#car_kind").val(),
                    car_number: $("#car_number").val(),
                    measure_machine : $("#measure_machine").val(),
                    moveTime : {
                        startTime: $("#move_start_time").val(),
                        endTime: $("#move_end_time").val()
                    },
                    arrivalSETPUP : {
                        startTime : $("#step_start_time").val(),
                        endTime : $("#step_end_time").val()
                    },
                    errorList : {
                        obstacle_classification: $("#obstacle_classification").val(),
                        obstacle_details: $("#obstacle_details").val(),
                        startTime: $("#err_start_time").val(),
                        endTime : $("#err_end_time").val(),
                        errInfo: $("#errInfo").val(),
                        errSolution: $("#errSolution").val()
                    },
                    KM : $("#KM").val(),
                    car_refuel_state : $('#select-native-3').val(),
                    errCheck : $("#select-native-2").val()
                };
                $.ajax({
                    url: "http://localhost:3000/reports",
                    type: "POST",
                    dataType: "json",
                    data: param,
                    success: function (data) {
                        if (data.result === 'ok') {
                            return window.location.href = "http://localhost:3000/reports?action=0";
                        }
                        alert('작성실패');
                    },
                    error: function(data){
                        alert("code:"+data.status+"\n");
                    }
                });
            }
        });
        $(".btninfo").click(function() {
            var Reportid = $(this).val();
            $.ajax({
                url: "http://localhost:3000/reports?action=0&Reportid="+Reportid, //Server 에서 받아올 url
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('#reportId').val(data.result.id);
                    $('#date2').val(data.result.date);
                    $('#car_manager').val(data.result.car_manager); //조장
                    $('#team_member').val(data.result.team_member); //조원
                    $('#location').val(data.result.location); //측정장소
                    $('#car_number2').val(data.result.car_number); //차량번호
                    $('#car_type').val(data.result.car_type); //차량종류
                    $('#equipment_name').val(data.result.equipment_name); //측정장비
                    $('#select-native-33').val(data.result.car_refuel_state); //현재주유상태
                    $('.Km').val(data.result.car_mileage_before); //시작전 KM
                    $('#move_start_time2').val(data.result.move.start_time); //집/대상지이동시간 - 시작
                    $('#move_end_time2').val(data.result.move.end_time); //집/대상지이동시간 - 종료
                    $('#setup_start_time2').val(data.result.setup.start_time);
                    $('#setup_end_time2').val(data.result.setup.end_time);
                    if(data.result.setup.err_type == 1) {
                        $('#select-native-22').val(1);
                        $('#ErrSelect2').css("display", "block");
                        $('#obstacle_classification2').val(data.result.setup.obstacle_classification);
                        $('#obstacle_details2').val(data.result.setup.obstacle_details);
                        $('#err_start_time2').val(data.result.setup.obstacle_start_time);
                        $('#err_end_time2').val(data.result.setup.obstacle_end_time);
                        $('#errInfo2').val(data.result.setup.obstacle_phenomenon);//장애내역
                        $('#errSolution2').val(data.result.setup.obstacle_result);//장애대응내역

                    } else {
                        $('#select-native-22').val(0);
                        $('#ErrSelect2').css("display", "none");
                    }
                    return window.location.href = "#page3"; //이동 url
                },
                error: function(data){
                    alert("code:"+data.status+"\n");
                }
            });
//            var Reportid = $(this).val();
//            window.location.href = "http://localhost:3000/reports?action=0&Reportid="+Reportid+"#page3"
        });
        $(".deleteinfo").click(function() {
            var Reportid = $(this).val();
            $.ajax({
                url: "http://localhost:3000/reports/"+Reportid,
                type: "DELETE",
                dataType: "json",
                success: function (data) {
                    if (data.result === 'ok') {
                        return window.location.href = "http://localhost:3000/reports?action=0";
                    }
                    alert('삭제실패');
                },
                error: function(data){
                    alert("data : "+data+"\n"+"code:"+data.status+"\n");
                }
            });

        });
        $(".deleteinfoCancle").click(function() {
            return window.location.href = "";
        });
        $("#updateBtn").click(function() {
            var reportId = $('#reportId').val();
            var param = {
                date: $("#date2").val(),
                group_leader: $("#car_manager").val(),
                group_member: $("#team_member").val(),
                measure_place: $("#location").val(),
                car_kind: $("#car_type").val(),
                car_number: $("#car_number2").val(),
                measure_machine : $("#equipment_name").val(),
                moveTime : {
                    startTime: $("#move_start_time2").val(),
                    endTime: $("#move_end_time2").val()
                },
                arrivalSETPUP : {
                    startTime : $("#setup_start_time2").val(),
                    endTime : $("#setup_end_time2").val()
                },
                errorList : {
                    obstacle_classification: $("#obstacle_classification2").val(),
                    obstacle_details: $("#obstacle_details2").val(),
                    startTime: $("#err_start_time2").val(),
                    endTime : $("#err_end_time2").val(),
                    errInfo: $("#errInfo2").val(),
                    errSolution: $("#errSolution2").val()
                },
                KM : $(".Km").val(),
                car_refuel_state : $('#select-native-33').val(),
                errCheck : $("#select-native-22").val()
            };
            $.ajax({
                url: "http://localhost:3000/reports/"+reportId,
                type: "PUT",
                dataType: "json",
                data: param,
                success: function (data) {
                    if (data.result === 'ok') {
                        return window.location.href = "http://localhost:3000/reports?action=0";
                    }
                    alert('수정실패');
                },
                error: function(data){
                    alert("code:"+data.status+"\n");
                }
            });
        });
        $(".datailList").click(function() {
            var Reportid = $(this).val();
            return window.location.href = "http://localhost:3000/details?Report="+Reportid;
        });
    });

    function ErrSelect(Val) {
        if (Val === '1') {
            $('#ErrSelect').css("display", "block");
        } else if(Val ==='0') {
            $('#ErrSelect').css("display", "none");
        }
    }
    function ErrSelect2(Val) {
        if (Val == '1') {
            $('#ErrSelect2').css("display", "block");
        } else if(Val =='0') {
            $('#ErrSelect2').css("display", "none");
        }
    }
    function date(){
        var date = new Date();

        var year  = date.getFullYear();
        var month = date.getMonth() + 1; // 0부터 시작하므로 1더함 더함
        var day   = date.getDate();

        if(month < 10) {
            month = "0"+month;
        }
        if(day < 10) {
            day = "0"+day
        }
        return year +'-'+month+'-'+day;
    }
</script>
</html>