<html>
<head>
    <!-- 메타 정보 선언 -->
    <meta charset="utf-8"/>

    <!-- 제이쿼리 라이브러리 파일 선언 -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <!-- popup를 위한 libray 선언 -->
    <script type="text/javascript" src="/scripts/jquery.bpopup.min.js"></script>

    <!-- table을 excel로 export하기 위한 library 선언 -->
    <script type="text/javascript" src="/scripts/jquery.techbytarun.excelexportjs.js"></script>

    <!-- 부트스트랩 -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>
<style>
    th {
        text-align: center;
        background-color: #bcbcbc;
    }
    td > input {
        margin-left: 10px;
    }
    select {
        margin-left: 10px;
    }

    .Pstyle {
        opacity: 0;
        display: none;
        position: relative;
        width: auto;
        border: 5px solid #fff;
        padding: 20px;
        background-color: #fff;
    }
    .b-close {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 5px;
        display: inline-block;
        cursor: pointer;
    }
    span {
        cursor:pointer;
    }

</style>
<body style="padding: 8px">
<h1 style="text-align: center">내근자 관리</h1>
<br><br>
<!-- managementList -->
<table border='1' style="width: 100%; text-align: center;">
    <% if(managementList) { %>
    <tr>
        <th style="display: none">id</th>
        <th>이름</th>
        <th>직급</th>
        <th>부서</th>
        <th>파트</th>
        <th>이메일</th>
        <th>핸드폰번호</th>
        <th>담당업무</th>
        <th></th>
    </tr>
    <% for(var i = 0 ; i < managementList.length; i ++) { %>
    <tr>
        <td class="item" style="display: none"><%= managementList[i].id%></td>
        <td><%= managementList[i].name%></td>
        <td><%= managementList[i].department_position%></td>
        <td><% if (managementList[i].department_id == 3) { %>
            품질분석팀
            <% } else if(managementList[i].department_id == 1) { %>
            대표이사
            <% } else if(managementList[i].department_id == 2) { %>
            사업총괄
            <% } else if(managementList[i].department_id == 4) { %>
            품질측정팀
            <% } else if(managementList[i].department_id == 5) { %>
            CEM팀
            <% } %>
        </td>
        <td><% if (managementList[i].team_id == 2) { %>
            정기음성파트
            <% } else if (managementList[i].team_id == 3) { %>
            정기데이터파트
            <% } else if (managementList[i].team_id == 4) { %>
            QOE파트
            <% } else if (managementList[i].team_id == 22) { %>
            외근care파트
            <% } else if (managementList[i].team_id == 23) { %>
            총괄파트
            <% } else if (managementList[i].team_id == 5) { %>
            해당사항없음
            <% } %>
        </td>
        <td><%= managementList[i].email%></td>
        <td><%= managementList[i].phone_number%></td>
        <td>
            <% if(managementList[i].team_position == 1 || managementList[i].team_position == 5 || managementList[i].team_position == 6) { %>
            조장(PM)
            <% } else if (managementList[i].team_position == 2) { %>
            조원
            <% } else if (managementList[i].team_position == 0) { %>
            관리자
            <% } %>
        </td>
        <td style="width: 18%"><span class="UpdateEmployee">Password초기화</span> | <span class="UpdateAllEmployee">정보수정</span> | <span class="DeleteEmployee">삭제</span></td>
    </tr>
    <% } %>
    <% } %>
</table>
<div style="text-align: right; padding-top: 10px">
    <button id="addEmployee">사용자추가</button>
</div>


<!-- 사용자추가 popup 창 -->
<div id="popup" class="Pstyle">
    <span class="b-close"> X </span>
    <div class="content" style="height: auto; width: auto; padding: 10px">
        <table style="text-align: right">
            <tr style="text-align: center">
                <td colspan="2" style="padding-bottom: 10px; font-weight: 900">사용자 추가</td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">이름 : </td>
                <td style="padding-bottom: 10px;"><input type="text" id="name" placeholder="홍길동"></td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">이메일 : </td>
                <td style="padding-bottom: 10px;"><input type="email" id="email" placeholder="comwiz@icomwiz.com"></td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">핸드폰번호 : </td>
                <td style="padding-bottom: 10px;"><input type="text" id="phone" placeholder="010123445678"></td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">파트 : </td>
                <td style="text-align: left; padding-bottom: 10px;">
                    <select id="part" style="width: 70%">
                        <option value="4">QOE파트</option>
                        <option value="3">정기데이터파트</option>
                        <option value="2">정기음성파트</option>
                        <option value="22">외근care파트</option>
                        <option value="23">총괄파트</option>
                        <option value="NULL">해당사항없음</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">부서 : </td>
                <td style="text-align: left; padding-bottom: 10px;">
                    <select id="department" style="width: 70%">
                        <option value="1">대표이사</option>
                        <option value="2">사업총괄</option>
                        <option value="3">품질분석팀</option>
                        <option value="4">품질측정팀</option>
                        <option value="5">CEM팀</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">조 : </td>
                <td style="text-align: left; padding-bottom: 10px;">
                    <select id="group" style="width: 70%">
                        <option value="1">조장(PM)</option>
                        <option value="2">조원</option>
                        <option value="0">관리자</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">직위 : </td>
                <td style="text-align: left; padding-bottom: 10px;">
                    <select id="position" style="width: 70%">
                        <option value="인턴">인턴</option>
                        <option value="사원">사원</option>
                        <option value="선임조장">선임조장</option>
                        <option value="주임">주임</option>
                        <option value="대리">대리</option>
                        <option value="과장">과장</option>
                        <option value="차장">차장</option>
                        <option value="부장">부장</option>
                        <option value="이사">이사</option>
                        <option value="싱무">상무</option>
                        <option value="전무">전무</option>
                        <option value="사장">사장</option>
                    </select>
                </td>
            </tr>
        </table>
        <div style="text-align: right; padding-top: 10px">
            <button id="saveEmployee">저장</button>
        </div>
    </div>
</div>


<!-- 정보수정 popup창  -->
<div id="UpdatePopup" class="Pstyle">
    <span class="b-close"> X </span>
    <div class="content" style="height: auto; width: auto; padding: 10px">
        <table style="text-align: right">
            <tr style="text-align: center">
                <td colspan="2" style="padding-bottom: 10px; font-weight: 900">정보 수정</td>
            </tr>
            <tr style="display: none">
                <td>ID : </td>
                <td><input type="number" readonly="readonly" id="UserId"></td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">이름 : </td>
                <td style="padding-bottom: 10px;"><input type="text" id="updateName" placeholder="홍길동" readonly="readonly"></td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">이메일 : </td>
                <td style="padding-bottom: 10px;"><input type="email" id="updateEmail" placeholder="comwiz@icomwiz.com"></td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">핸드폰번호 : </td>
                <td style="padding-bottom: 10px;"><input type="text" id="updatePhone" placeholder="010123445678"></td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">파트 : </td>
                <td style="text-align: left; padding-bottom: 10px;">
                    <select id="updatePart" style="width: 70%">
                        <option value="4">QOE파트</option>
                        <option value="3">정기데이터파트</option>
                        <option value="2">정기음성파트</option>
                        <option value="22">외근care파트</option>
                        <option value="23">총괄파트</option>
                        <option value="NULL">해당사항없음</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">부서 : </td>
                <td style="text-align: left; padding-bottom: 10px;">
                    <select id="updateDepartment" style="width: 70%">
                        <option value="1">대표이사</option>
                        <option value="2">사업총괄</option>
                        <option value="3">품질분석팀</option>
                        <option value="4">품질측정팀</option>
                        <option value="5">CEM팀</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">조 : </td>
                <td style="text-align: left; padding-bottom: 10px;">
                    <select id="updateGroup" style="width: 70%">
                        <option value="1">조장(PM)</option>
                        <option value="2">조원</option>
                        <option value="0">관리자</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">직위 : </td>
                <td style="text-align: left; padding-bottom: 10px;">
                    <select id="updatePosition" style="width: 70%">
                        <option value="인턴">인턴</option>
                        <option value="사원">사원</option>
                        <option value="선임조장">선임조장</option>
                        <option value="주임">주임</option>
                        <option value="대리">대리</option>
                        <option value="과장">과장</option>
                        <option value="차장">차장</option>
                        <option value="부장">부장</option>
                        <option value="이사">이사</option>
                        <option value="상무">상무</option>
                    </select>
                </td>
            </tr>
        </table>
        <div style="text-align: right; padding-top: 10px">
            <button id="updateSaveEmployee">저장</button>
        </div>
    </div>
</div>

<div id="deletePopup" class="Pstyle">
    <span class="b-close">X</span>
    <div class="content" style="height: auto; width: auto; padding: 10px; text-align: center">
        삭제를 진행합니다.<br><br>
        <button id="DeleteBtn">삭제</button>
    </div>
</div>


</body>

<script>
    $(function() {
        //td값(id값)을가지고오기위한 변수 초기화.
        var htmlOfTd = 0;
        $("#addEmployee").click(function() {
            $('#popup').bPopup();
        });

        //사용자추가
        $("#saveEmployee").click(function() {
            if ( $("#name").val() == '' ) {
                alert("이름을 입력해주세요");
            } else if ( $("#email").val() == '' ) {
                alert("Email을 입력해주세요");
            } else if ( $("#phone").val() == '' ) {
                alert("핸드폰번호를 입력해주세요");
            } else {
                var param = {
                    name : $("#name").val(),
                    email : $("#email").val(),
                    phone : $("#phone").val(),
                    part : $("#part").val(),
                    group : $("#group").val(),
                    department : $("#department").val(),
                    position : $("#position").val()
                };

                $.ajax({
                    url: "http://localhost:3000/employees/management",
                    type: "POST",
                    dataType: "json",
                    data: param,
                    success: function (data) {
                        if (data.result === 'ok') {
                            return window.location.href = "http://localhost:3000/employees/management";
                        }
                        alert('등록실패');
                    },
                    error: function(data){
                        alert("code:"+data.status+"\n");
                    }
                });
            }

        });

        /*$(".UpdateAllEmployee").click(function() {
            var row = $(this).parent().parent().get(0);

            //저장된정보 가지고오기위한 변수 초기화 || 초기값설정
            var EmployeeId = row.cells[0];      //id
            var EmployeeName = row.cells[1];    //name
            var EmployeeEmail = row.cells[2];   //email
            var EmployeePhone = row.cells[3];   //Phone
            var EmployeePart = row.cells[4];   //파트
            var partBlank= $(EmployeePart).html().replace( /(\s*)/g, "");    //파트공백제거
            var EmployeeDepartment = row.cells[5];  //조장||조원
            var departmentBlank= $(EmployeeDepartment).html().replace( /(\s*)/g, "");    // 조장||조원 공백제거
            var EmployeeTeam = row.cells[6];    //부서
            var teamBlank= $(EmployeeTeam).html().replace( /(\s*)/g, "");    // 부서 공백제거
            var EmployeePosition = row.cells[7];    //직위


            //정보 뿌려주기
            $("#UserId").val($(EmployeeId).html()); //아이디값
            $("#updateName").val($(EmployeeName).html()); //이름
            $("#updateEmail").val($(EmployeeEmail).html()); //이메일
            $("#updatePhone").val($(EmployeePhone).html()); //전화번호

            if (partBlank === "QOE파트") {        //파트
                $("#updatePart").val(4);
            } else if (partBlank === "정기데이터파트") {
                $("#updatePart").val(3);
            } else if (partBlank === "정기음성파트") {
                $("#updatePart").val(2);
            } else if (partBlank === "외근care파트") {
                $("#updatePart").val(22);
            } else if (partBlank === "총괄파트") {
                $("#updatePart").val(23);
            } else if (partBlank == ""){
                $("#updatePart").val("NULL");
            }


            if (departmentBlank === "조장(PM)") {     //조장||조원
                $("#updateGroup").val(1);
            } else if (departmentBlank === "조원") {
                $("#updateGroup").val(2);
            } else {
                $("#updateGroup").val("0");
            }

//            $("#updateDepartment").val($(EmployeeTeam).html());
            if (teamBlank === "대표이사") {    // 부서
                $("#updateDepartment").val(1);
            } else if (teamBlank === "사업총괄") {
                $("#updateDepartment").val(2);
            } else if (teamBlank === "품질분석팀") {
                $("#updateDepartment").val(3);
            } else if (teamBlank === "품질측정팀") {
                $("#updateDepartment").val(4);
            } else if (teamBlank === "CEM팀") {
                $("#updateDepartment").val(5);
            }

            $("#updatePosition").val($(EmployeePosition).html());


            //UpdatePopup창 오픈
            $('#UpdatePopup').bPopup();
        });*/

        $(".UpdateAllEmployee").click(function() {
            var row = $(this).parent().parent().get(0);

            //저장된정보 가지고오기위한 변수 초기화 || 초기값설정
            var EmployeeId = row.cells[0];      //id
            var EmployeeName = row.cells[1];    //name
            var EmployeePosition = row.cells[2];    //직위
            var EmployeeTeam = row.cells[3];    //부서
            var EmployeePart = row.cells[4];   //파트
            var partBlank= $(EmployeePart).html().replace( /(\s*)/g, "");    //파트공백제거

            var EmployeeEmail = row.cells[5];   //email
            var EmployeePhone = row.cells[6];   //Phone

            var EmployeeDepartment = row.cells[7];  //조장||조원
            var departmentBlank= $(EmployeeDepartment).html().replace( /(\s*)/g, "");    // 조장||조원 공백제거

            var teamBlank= $(EmployeeTeam).html().replace( /(\s*)/g, "");    // 부서 공백제거



            //정보 뿌려주기
            $("#UserId").val($(EmployeeId).html()); //아이디값
            $("#updateName").val($(EmployeeName).html()); //이름
            $("#updateEmail").val($(EmployeeEmail).html()); //이메일
            $("#updatePhone").val($(EmployeePhone).html()); //전화번호

            if (partBlank === "QOE파트") {        //파트
                $("#updatePart").val(4);
            } else if (partBlank === "정기데이터파트") {
                $("#updatePart").val(3);
            } else if (partBlank === "정기음성파트") {
                $("#updatePart").val(2);
            } else if (partBlank === "외근care파트") {
                $("#updatePart").val(22);
            } else if (partBlank === "총괄파트") {
                $("#updatePart").val(23);
            } else if (partBlank == ""){
                $("#updatePart").val("NULL");
            }


            if (departmentBlank === "조장(PM)") {     //조장||조원
                $("#updateGroup").val(1);
            } else if (departmentBlank === "조원") {
                $("#updateGroup").val(2);
            } else {
                $("#updateGroup").val("0");
            }

//            $("#updateDepartment").val($(EmployeeTeam).html());
            if (teamBlank === "대표이사") {    // 부서
                $("#updateDepartment").val(1);
            } else if (teamBlank === "사업총괄") {
                $("#updateDepartment").val(2);
            } else if (teamBlank === "품질분석팀") {
                $("#updateDepartment").val(3);
            } else if (teamBlank === "품질측정팀") {
                $("#updateDepartment").val(4);
            } else if (teamBlank === "CEM팀") {
                $("#updateDepartment").val(5);
            }

            $("#updatePosition").val($(EmployeePosition).html());


            //UpdatePopup창 오픈
            $('#UpdatePopup').bPopup();
        });

        $("#updateSaveEmployee").click(function() {
            var param = {
                UserId : $("#UserId").val(),
                updateName : $('#updateName').val(),
                updateEmail : $('#updateEmail').val(),
                updatePhone : $('#updatePhone').val(),
                updatePart : $('#updatePart').val(),
                updateGroup : $('#updateGroup').val(),
                updateDepartment : $('#updateDepartment').val(),
                updatePosition : $('#updatePosition').val()
            }
            $.ajax({
                url: "http://localhost:3000/employees/management?action=info",
                type: "put",
                dataType: "json",
                data: param,
                success: function (data) {
                    if (data.result === 'ok') {
                        alert('수정성공');
                        return window.location.href = "http://localhost:3000/employees/management";
                    }
                    alert('수정실패');
                },
                error: function(data){
                    alert("code:"+data.status+"\n");
                }
            });
        });

        $(".UpdateEmployee").click(function() {
            var row = $(this).parent().parent().get(0);
            var td = row.cells[0];
            htmlOfTd = $(td).html();

            var param = {
                id : htmlOfTd
            }
            $.ajax({
                url: "http://localhost:3000/employees/management?action=password",
                type: "PUT",
                dataType: "json",
                data: param,
                success: function (data) {
                    if (data.result === 'ok') {
                        alert('비밀번호 초기화가 완료되었습니다.');
                        return window.location.href = "http://localhost:3000/employees/management";
                    }
                    alert('초기화 실패');
                },
                error: function(data){
                    alert("code:"+data.status+"\n");
                }
            });
        });

        //사용자삭제
        $(".DeleteEmployee").click(function() {
            var row = $(this).parent().parent().get(0);
            var td = row.cells[0];
            htmlOfTd = $(td).html();

            $('#deletePopup').bPopup();
        });
        $('#DeleteBtn').click(function() {
            //alert(htmlOfTd);
            var param = {
                id : htmlOfTd
            }
            $.ajax({
                url: "http://localhost:3000/employees/management",
                type: "DELETE",
                dataType: "json",
                data: param,
                success: function (data) {
                    if (data.result === 'ok') {
                        alert('삭제완료');
                        return window.location.href = "http://localhost:3000/employees/management";
                    }
                    alert('삭제실패');
                },
                error: function(data){
                    alert("code:"+data.status+"\n");
                }
            });
        });
    });
</script>
</html>