<html>
<head>
    <!-- 메타 정보 선언 -->
    <meta charset="utf-8"/>

    <!-- 제이쿼리 라이브러리 파일 선언 -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <!-- popup를 위한 libray 선언 -->
    <script type="text/javascript" src="/scripts/jquery.bpopup.min.js"></script>

    <!-- table을 excel로 export하기 위한 library 선언 -->
    <script type="text/javascript" src="/scripts/jquery.techbytarun.excelexportjs.js"></script>

    <!-- 부트스트랩 -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>
<style>
    th {
        text-align: center;
        background-color: gray;
    }
    td > input {
        margin-left: 10px;
    }
    select {
        margin-left: 10px;
    }

    .Pstyle {
        opacity: 0;
        display: none;
        position: relative;
        width: auto;
        border: 5px solid #fff;
        padding: 20px;
        background-color: #fff;
    }
    .b-close {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 5px;
        display: inline-block;
        cursor: pointer;
    }


</style>
<body>
<h1 style="text-align: center">내근자 관리</h1>
<br><br>
<!-- managementList -->
<table border='1' style="width: 100%; text-align: center;"  id = "table1">
    <% if(managementList) { %>
    <tr>
        <th>id</th>
        <th>이름</th>
        <th>이메일</th>
        <th>핸드폰번호</th>
        <th>파트</th>
        <th>조장 | 조원</th>
        <th>부서</th>
        <th>직위</th>
        <th></th>
    </tr>
    <% for(var i = 0 ; i < managementList.length; i ++) { %>
    <tr>
        <td><%= managementList[i].id%></td>
        <td><%= managementList[i].name%></td>
        <td><%= managementList[i].email%></td>
        <td><%= managementList[i].phone_number%></td>
        <td><% if (managementList[i].team_id == 2) { %>
            정기음성파트
            <% } else if (managementList[i].team_id == 3) { %>
            정기데이터파트
            <% } else if (managementList[i].team_id == 4) { %>
            QOE파트
            <% } else if (managementList[i].team_id == 22) { %>
            외근care팀
            <% } else if (managementList[i].team_id == 23) { %>
            총괄팀
            <% } %>
        </td>
        <td>
            <% if(managementList[i].team_position == 1) { %>
            조장(PM)
            <% } else if (managementList[i].team_position == 2) { %>
            조원
            <% } %>
        </td>
        <td><% if (managementList[i].department_id == 3) { %>
            품질분석팀
            <% }%>
        </td>
        <td><%= managementList[i].department_position%></td>
        <td>수정 | 삭제</td>
    </tr>
    <% } %>
    <% } %>
</table>
<div style="text-align: right; padding-top: 10px">
    <button id="addEmployee">사용자추가</button>
    <!--<input type="button" value="클릭" onclick="go_popup()">-->
</div>

<div id="popup" class="Pstyle">
    <span class="b-close"> X </span>
    <div class="content" style="height: auto; width: auto; padding: 10px">
        <table style="text-align: right">
            <tr>
                <td style="padding-bottom: 10px;">이름 : </td>
                <td style="padding-bottom: 10px;"><input type="text" id="name" placeholder="홍길동"></td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">이메일 : </td>
                <td style="padding-bottom: 10px;"><input type="email" id="email" placeholder="comwiz@icomwiz.com"></td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">핸드폰번호 : </td>
                <td style="padding-bottom: 10px;"><input type="text" id="phone" placeholder="010123445678"></td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">파트 : </td>
                <td style="text-align: left; padding-bottom: 10px;">
                    <select id="part" style="width: 70%">
                        <option value="2">QOE파트</option>
                        <option value="3">정기데이터파트</option>
                        <option value="4">정기음성파트</option>
                        <option value="22">외근care파트</option>
                        <option value="23">총괄파트</option>
                        <option value="">해당사항없음</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">부서 : </td>
                <td style="text-align: left; padding-bottom: 10px;">
                    <select id="department" style="width: 70%">
                        <option value="1">대표이사</option>
                        <option value="2">사업총괄</option>
                        <option value="3">품질분석팀</option>
                        <option value="4">품질측정팀</option>
                        <option value="5">CEM팀</option>
                        <option value="">해당사항없음</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">조 : </td>
                <td style="text-align: left; padding-bottom: 10px;">
                    <select id="group" style="width: 70%">
                        <option value="1">조장(PM)</option>
                        <option value="2">조원</option>
                        <option value="">해당사항없음</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px;">직위 : </td>
                <td style="text-align: left; padding-bottom: 10px;">
                    <select id="position" style="width: 70%">
                        <option value="사원">사원</option>
                        <option value="대리">대리</option>
                        <option value="과장">과장</option>
                        <option value="주임">주임</option>
                        <option value="총괄파트">총괄파트</option>
                        <option value="">해당사항없음</option>
                    </select>
                </td>
            </tr>
        </table>
        <div style="text-align: right; padding-top: 10px">
            <button id="saveEmployee">저장</button>
        </div>
    </div>
</div>

</body>

<script>
    $(function() {
        $("#addEmployee").click(function() {
            $('#popup').bPopup();
        });
        $("#saveEmployee").click(function() {
            if ( $("#name").val() == '' ) {
                alert("이름을 입력해주세요");
            } else if ( $("#email").val() == '' ) {
                alert("Email을 입력해주세요");
            } else if ( $("#phone").val() == '' ) {
                alert("핸드폰번호를 입력해주세요");
            } else {
                var param = {
                    name : $("#name").val(),
                    email : $("#email").val(),
                    phone : $("#phone").val(),
                    part : $("#part").val(),
                    group : $("#group").val(),
                    department : $("#department").val(),
                    position : $("#position").val()
                };

                $.ajax({
                    url: "http://localhost:3000/employees/management",
                    type: "POST",
                    dataType: "json",
                    data: param,
                    success: function (data) {
                        if (data.result === 'ok') {
                            return window.location.href = "http://localhost:3000/employees/management";
                        }
                        alert('등록실패');
                    },
                    error: function(data){
                        alert("code:"+data.status+"\n");
                    }
                });
            }

        });
    });
</script>
</html>