<!DOCTYPE html>
<html>
<head>
    <!-- 메타 정보 선언 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 제이쿼리 라이브러리 파일 선언 -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <!-- 사용자 스타일 시트 파일 선언 -->
    <link rel='stylesheet' href='/stylesheets/parts-calls-style.css' />

    <!-- table을 excel로 export하기 위한 library 선언 -->
    <script type="text/javascript" src="/scripts/jquery.techbytarun.excelexportjs.js"></script>

    <!-- 부트스트랩 -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- morris js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>팀별 콜수 현황 <small>일별 현황</small></h1>
    </div>
    <% for (var i = 0; i < result.length; i++ ) { %>
    <table class="table table-bordered" id="callsTbl<%=i%>">
        <thead>
        <!--날짜-->
        <tr class="date">
            <td colspan="<%=result[i].teams.length%>"><%=result[i].date%></td>
        </tr>
        <!--팀 이름-->
        <tr>
            <% for (var j = 0; j < result[i].teams.length; j++) {%>
            <td><%=result[i].teams[j].teamName%></td>
            <% } %>
        </tr>
        <!--조장 조원-->
        <tr>
            <% for (var j = 0; j < result[i].teams.length; j++) {%>
            <td>
                조장 <small><%=result[i].teams[j].teamLeader%></small><br>
                조원 <small><%=result[i].teams[j].teamMember%></small>
            </td>
            <% } %>
        </tr>
        </thead>
        <tbody>
        <!--그래프-->
        <tr>
            <% for (var j = 0; j < result[i].teams.length; j++) {%>
            <td>
                <div id="<%=i%>-<%=j%>"></div>
            </td>
            <% } %>
        </tr>
        <!--요약-->
        <tr>
            <% for (var j = 0; j < result[i].teams.length; j++) {%>
            <td>
                <%  var planCalls = 0;
                    var realCalls = 0;
                    var totalResult = 0;
                    for (var k = 0; k < result[i].teams[j].measureInfo.length;k ++ ) {
                        planCalls += result[i].teams[j].measureInfo[k].planCalls;
                        realCalls += result[i].teams[j].measureInfo[k].realCalls;
                    }
                    if (planCalls !== 0) {
                        totalResult = (realCalls / planCalls * 100).toFixed(2);
                    }
                %>
                전체 달성: <small><%=totalResult%>%</small><br>(<%=realCalls%>calls/<%=planCalls%>calls)<br><br>
                <%  for (var k = 0; k < result[i].teams[j].measureInfo.length;k ++ ) {
                if ( result[i].teams[j].measureInfo[k].planCalls !== null) { %>
                <%=result[i].teams[j].measureInfo[k].equipmentName%>(<%=result[i].teams[j].measureInfo[k].measurer%>):
                <small><%=(result[i].teams[j].measureInfo[k].realCalls/result[i].teams[j].measureInfo[k].planCalls).toFixed(2) * 100%>%</small><br>
                (<%=result[i].teams[j].measureInfo[k].realCalls || 0%>calls/<%=result[i].teams[j].measureInfo[k].planCalls%>calls)<br><br>
                <%      } %>
                <%  } %>
            </td>
            <% } %>
        </tr>
        </tbody>
    </table>
    <button type="button" class="excelDownBtn" id="<%=i%>" style="float: right;">엑셀 다운로드</button>
    <BR><BR><BR><BR><BR><BR>
    <% } %>
</div>
</body>
<script>
    $(function() {
        $.get('http://localhost:3000/reports/calls/ajax?action=0', function(data) {
            for (var i = 0; i < data.result.length; i++) {
                for (var j = 0; j < data.result[i].teams.length; j++) {
                    var planCalls = 0;
                    var realCalls = 0;
                    for (var k = 0; k < data.result[i].teams[j].measureInfo.length; k ++ ) {
                        planCalls += data.result[i].teams[j].measureInfo[k].planCalls;
                        realCalls += data.result[i].teams[j].measureInfo[k].realCalls;
                    }
                    Morris.Bar({
                        element: i + '-' + j,
                        data: [
                            { y: '호량', a: planCalls, b: realCalls },
                        ],
                        xkey: 'y',
                        ykeys: ['a', 'b'],
                        labels: ['목표 calls', '실제 calls']
                    });
                }
            }
        });

        $('.excelDownBtn').click(function() {
            var tableId = 'callsTbl' + $(this).attr('id');
            console.log(tableId);
            $('#' + tableId).excelexportjs({
                containerid: tableId,
                datatype: 'table'
            });
        });
    });
</script>
</html>