<!DOCTYPE html>
<html>
<head>
    <!-- 메타 정보 선언 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- table을 excel로 export하기 위한 library 선언 -->
    <script type="text/javascript" src="/scripts/jquery.techbytarun.excelexportjs.js"></script>

    <!-- 사용자 스타일 시트 파일 선언 -->
    <link rel='stylesheet' href='/stylesheets/parts-error-style.css' />

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- table을 excel로 export하기 위한 library 선언 -->
    <script type="text/javascript" src="/scripts/jquery.techbytarun.excelexportjs.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>팀별 에러 현황 <small>주별 현황</small></h1>
    </div>

    <%
        for(var i = 0; i < result.length; i++) {
    %>
    <table class="table table-bordered" id="errorTbl<%=i%>">
        <thead>
            <!--날짜-->
            <tr class="date">
                <td colspan="<%=result[i].teams.length + 2%>"><%=result[i].week%></td>
            </tr>

            <!--구분1, 구분2, 파트1, 파트2 ..-->
            <tr>
                <td rowspan="3">
                    구분1
                </td>
                <td rowspan="3">
                    구분2
                </td>
                <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                        var partsColsNum = 0;
                        for (var k = 0; k < result[i].teams.length; k ++) {
                            if (result[i].parts[j].partId === result[i].teams[k].partId) {
                                partsColsNum++;
                            }
                        }
                %>
                <!--파트-->
                <td colspan="<%=partsColsNum%>">
                    <%=result[i].parts[j].partName%>
                </td>
                <%
                    }
                %>
            </tr>

            <!--팀 이름-->
            <tr>
            <%
                for (var j = 0; j < result[i].parts.length; j++) {
                    for (var k = 0; k < result[i].teams.length; k++) {
                        if (result[i].parts[j].partId === result[i].teams[k].partId) {
            %>
                <td><%=result[i].teams[k].teamName%></td>
            <%
                        }
                    }
                }
            %>
            </tr>
            <!--팀 리더-->
            <tr>
            <%
                for (var j = 0; j < result[i].parts.length; j++) {
                    for (var k = 0; k < result[i].teams.length; k++) {
                        if (result[i].parts[j].partId === result[i].teams[k].partId) {
            %>
                <td><%=result[i].teams[k].teamLeader%></td>
            <%
                        }
                    }
                }
            %>
            </tr>
        </thead>
        <tbody>
            <!--측정자오류-->
            <div>
                <tr>
                    <td rowspan="4">Human<BR>(측정자오류)</td>
                    <td>업로드오류</td>
                    <%
                        for (var j = 0; j < result[i].parts.length; j++) {
                            for (var k = 0; k < result[i].teams.length; k ++) {
                                if (result[i].parts[j].partId === result[i].teams[k].partId) {
                                    if (result[i].teams[k].uploadError != 0) {
                    %>
                    <td>
                        <a class="analystError" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].uploadError%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="업로드오류"/>
                        </a>
                    </td>
                    <%
                                    } else {
                    %>
                    <td><%=result[i].teams[k].uploadError%></td>
                    <%
                                    }
                                }
                            }
                        }
                    %>
                </tr>
                <tr>
                    <td>압축파일명오류</td>
                    <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                    for (var k = 0; k < result[i].teams.length; k ++) {
                    if (result[i].parts[j].partId === result[i].teams[k].partId) {
                    if (result[i].teams[k].compressionNameError != 0) {
                    %>
                    <td>
                        <a class="analystError" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].compressionNameError%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="압축파일명오류"/>
                        </a>
                    </td>
                    <%
                    } else {
                    %>
                    <td><%=result[i].teams[k].compressionNameError%></td>
                    <%
                    }
                    }
                    }
                    }
                    %>
                </tr>
                <tr>
                    <td>Setting오류</td>
                    <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                    for (var k = 0; k < result[i].teams.length; k ++) {
                    if (result[i].parts[j].partId === result[i].teams[k].partId) {
                    if (result[i].teams[k].settingError != 0) {
                    %>
                    <td>
                        <a class="analystError" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].settingError%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="Setting오류"/>
                        </a>
                    </td>
                    <%
                    } else {
                    %>
                    <td><%=result[i].teams[k].settingError%></td>
                    <%
                    }
                    }
                    }
                    }
                    %>
                </tr>
                <tr>
                    <td>기타오류</td>
                    <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                    for (var k = 0; k < result[i].teams.length; k ++) {
                    if (result[i].parts[j].partId === result[i].teams[k].partId) {
                    if (result[i].teams[k].etcError != 0) {
                    %>
                    <td>
                        <a class="analystError" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].etcError%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="기타오류"/>
                        </a>
                    </td>
                    <%
                    } else {
                    %>
                    <td><%=result[i].teams[k].etcError%></td>
                    <%
                    }
                    }
                    }
                    }
                    %>
                </tr>
                <tr>
                    <td colspan="2" class="summary">Human 요약</td>
                    <%
                        for (var j = 0; j < result[i].parts.length; j++) {
                            for (var k = 0; k < result[i].teams.length; k ++) {
                                if (result[i].parts[j].partId === result[i].teams[k].partId) { %>
                    <td class="summary"><%=result[i].teams[k].humanErrorSum%></td>
                    <%
                                }
                            }
                        }
                    %>
                </tr>
            </div>

            <!--IQA요약-->
            <div>
                <tr>
                    <td rowspan="3">IQA<BR>(기능오류)</td>
                    <td>Conversion Error</td>
                    <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                    for (var k = 0; k < result[i].teams.length; k ++) {
                    if (result[i].parts[j].partId === result[i].teams[k].partId) {
                    if (result[i].teams[k].conversionError != 0) {
                    %>
                    <td>
                        <a class="analystError" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].conversionError%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="Conversion Error"/>
                        </a>
                    </td>
                    <%
                    } else {
                    %>
                    <td><%=result[i].teams[k].conversionError%></td>
                    <%
                    }
                    }
                    }
                    }
                    %>
                </tr>
                <tr>
                    <td>Server오류</td>
                    <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                    for (var k = 0; k < result[i].teams.length; k ++) {
                    if (result[i].parts[j].partId === result[i].teams[k].partId) {
                    if (result[i].teams[k].serverError != 0) {
                    %>
                    <td>
                        <a class="analystError" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].serverError%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="Server오류"/>
                        </a>
                    </td>
                    <%
                    } else {
                    %>
                    <td><%=result[i].teams[k].serverError%></td>
                    <%
                    }
                    }
                    }
                    }
                    %>
                </tr>
                <tr>
                    <td>Segment누락</td>
                    <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                    for (var k = 0; k < result[i].teams.length; k ++) {
                    if (result[i].parts[j].partId === result[i].teams[k].partId) {
                    if (result[i].teams[k].segmentOmissionError != 0) {
                    %>
                    <td>
                        <a class="analystError" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].segmentOmissionError%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="Segment누락"/>
                        </a>
                    </td>
                    <%
                    } else {
                    %>
                    <td><%=result[i].teams[k].segmentOmissionError%></td>
                    <%
                    }
                    }
                    }
                    }
                    %>
                </tr>
                <tr>
                    <td colspan="2" class="summary">IQA 요약</td>
                    <%
                        for (var j = 0; j < result[i].parts.length; j++) {
                            for (var k = 0; k < result[i].teams.length; k ++) {
                                if (result[i].parts[j].partId === result[i].teams[k].partId) { %>
                    <td class="summary"><%=result[i].teams[k].iqaErrorSum%></td>
                    <%
                                }
                            }
                        }
                    %>
                </tr>
            </div>

            <!--측정기 요약-->
            <div>
                <tr>
                    <td rowspan="5">측정기<br>(장비+노트북+기자재+단말기+차량)</td>
                    <td>장비오류</td>
                    <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                        for (var k = 0; k < result[i].teams.length; k ++) {
                            if (result[i].parts[j].partId === result[i].teams[k].partId) {
                                if (result[i].teams[k].equipmentError != 0) {
                    %>
                    <td>
                        <a class="error" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].equipmentError%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="장비오류"/>
                        </a>
                    </td>
                    <%
                                } else {
                    %>
                    <td><%=result[i].teams[k].equipmentError%></td>
                    <%
                                }
                            }
                        }
                    }
                    %>
                </tr>
                <tr>
                    <td>프로그램오류</td>
                    <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                        for (var k = 0; k < result[i].teams.length; k ++) {
                            if (result[i].parts[j].partId === result[i].teams[k].partId) {
                                if (result[i].teams[k].programError != 0) {
                    %>
                    <td>
                        <a class="error" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].programError%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="프로그램오류"/>
                        </a>
                    </td>
                    <%
                                } else {
                    %>
                    <td><%=result[i].teams[k].programError%></td>
                    <%
                                }
                            }
                        }
                    }
                    %>
                </tr>
                <tr>
                    <td>단말기오류</td>
                    <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                        for (var k = 0; k < result[i].teams.length; k ++) {
                            if (result[i].parts[j].partId === result[i].teams[k].partId) {
                                if (result[i].teams[k].terminalError != 0) {
                    %>
                    <td>
                        <a class="error" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].terminalError%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="단말기오류"/>
                        </a>
                    </td>
                    <%
                                } else {
                    %>
                    <td><%=result[i].teams[k].terminalError%></td>
                    <%
                                }
                            }
                        }
                    }
                    %>
                </tr>
                <tr>
                    <td>측정차량</td>
                    <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                        for (var k = 0; k < result[i].teams.length; k ++) {
                            if (result[i].parts[j].partId === result[i].teams[k].partId) {
                                if (result[i].teams[k].carError != 0) {
                    %>
                    <td>
                        <a class="error" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].carError%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="측정차량"/>
                        </a>
                    </td>
                    <%
                                } else {
                    %>
                    <td><%=result[i].teams[k].carError%></td>
                    <%
                                }
                            }
                        }
                    }
                    %>
                </tr>
                <tr>
                    <td>부수기자재</td>
                    <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                        for (var k = 0; k < result[i].teams.length; k ++) {
                            if (result[i].parts[j].partId === result[i].teams[k].partId) {
                                if (result[i].teams[k].toolsError != 0) {
                    %>
                    <td>
                        <a class="error" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].toolsError%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="부수기자재"/>
                        </a>
                    </td>
                    <%
                                } else {
                    %>
                    <td><%=result[i].teams[k].toolsError%></td>
                    <%
                                }
                            }
                        }
                    }
                    %>
                </tr>
                <tr>
                    <td colspan="2" class="summary">측정기 요약</td>
                    <%
                        for (var j = 0; j < result[i].parts.length; j++) {
                            for (var k = 0; k < result[i].teams.length; k ++) {
                                if (result[i].parts[j].partId === result[i].teams[k].partId) { %>
                    <td class="summary"><%=result[i].teams[k].sum%></td>
                    <%
                                }
                            }
                        }
                    %>
                </tr>
            </div>

            <!--기타 요약-->
            <div>
                <tr>
                    <td rowspan="2">기타<BR>(원인불명)</td>
                    <td>압축해제에러</td>
                    <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                    for (var k = 0; k < result[i].teams.length; k ++) {
                    if (result[i].parts[j].partId === result[i].teams[k].partId) {
                    if (result[i].teams[k].compressionLiftError != 0) {
                    %>
                    <td>
                        <a class="analystError" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].compressionLiftError%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="압축해제에러"/>
                        </a>
                    </td>
                    <%
                    } else {
                    %>
                    <td><%=result[i].teams[k].compressionLiftError%></td>
                    <%
                    }
                    }
                    }
                    }
                    %>
                </tr>
                <tr>
                    <td>기타</td>
                    <%
                    for (var j = 0; j < result[i].parts.length; j++) {
                    for (var k = 0; k < result[i].teams.length; k ++) {
                    if (result[i].parts[j].partId === result[i].teams[k].partId) {
                    if (result[i].teams[k].etc != 0) {
                    %>
                    <td>
                        <a class="analystError" data-toggle="modal" data-target="#myModal"><%=result[i].teams[k].etc%>
                            <input type="hidden" name="teamId" value="<%=result[i].teams[k].teamId%>"/>
                            <input type="hidden" name="startDay" value="<%=result[i].teams[k].startDay%>"/>
                            <input type="hidden" name="endDay" value="<%=result[i].teams[k].endDay%>"/>
                            <input type="hidden" name="errorType" value="기타"/>
                        </a>
                    </td>
                    <%
                    } else {
                    %>
                    <td><%=result[i].teams[k].etc%></td>
                    <%
                    }
                    }
                    }
                    }
                    %>
                </tr>
                <tr>
                    <td colspan="2" class="summary">기타 요약</td>
                    <%
                        for (var j = 0; j < result[i].parts.length; j++) {
                            for (var k = 0; k < result[i].teams.length; k ++) {
                                if (result[i].parts[j].partId === result[i].teams[k].partId) { %>
                    <td class="summary"><%=result[i].teams[k].etcSum%></td>
                    <%
                                }
                            }
                        }
                    %>
                </tr>
            </div>

            <!--총합계-->
            <div>
                <tr>
                    <td colspan="2" class="totalSummary">총합계(Human+IQA+측정기+기타)</td>
                    <%
                        for (var j = 0; j < result[i].parts.length; j++) {
                            for (var k = 0; k < result[i].teams.length; k ++) {
                                if (result[i].parts[j].partId === result[i].teams[k].partId) { %>
                    <td class="totalSummary"><%=result[i].teams[k].totalSum%></td>
                    <%
                                }
                            }
                        }
                    %>
                </tr>
            </div>
        </tbody>
    </table>
    <button type="button" class="excelDownBtn" id="<%=i%>">엑셀 다운로드</button>
    <BR><BR><BR><BR><BR><BR>
    <%
        }
    %>

    <!-- 모달 팝업 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">에러 사항</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="errorListArea">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('.error').click(function() {
            $.ajax({
                url: "http://localhost:3000/reports/statistics",
                type: "GET",
                dataType: "JSON",
                data: {
                    action: 5,
                    teamId: $(this).children('input[name="teamId"]').val(),
                    startDay: $(this).children('input[name="startDay"]').val(),
                    endDay: $(this).children('input[name="endDay"]').val(),
                    obstacleClassification: encodeURI($(this).children('input[name="errorType"]').val(), "UTF-8")
                },
                success: function(data) {
                    var tagList = "";
                    var workdetails = '';
                    for (var i = 0; i < data.result.length; i++) {
                        if (data.result[i].workDetails < 100) {
                            workdetails = data.result[i].workDetails + '차 측정 중 에러 발생';
                        } else {
                            switch (data.result[i].workDetails) {
                                case 100:
                                    workdetails = '집 대상지 이동 중 에러 발생'
                                    break;
                                case 101:
                                    workdetails = '대상지 도착 후 SETUP 중 에러 발생'
                                    break;
                                case 102:
                                    workdetails = '측정 종료 후 복귀 중 에러 발생'
                                    break;
                                case 103:
                                    workdetails = 'FTP측정 데이터 업로드 중 에러 발생'
                                    break;
                            }
                        }
                        tagList += "<li class=\"list-group-item\"><div><table class=\"table table-bordered\">" +
                            '<tr>' + '<td colspan=\'2\'>' + data.result[i].obstacleClassification+ '에러사항' + '</td>' +'</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '에러 발생 날짜' + '</td>' + '<td>' + data.result[i].date + '</td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '팀' + '</td>' + '<td>' + data.result[i].teamName + '</td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '조장' + '</td>' + '<td>' + data.result[i].teamLeader + '</td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '에러 발견자' + '</td>' + '<td>' + data.result[i].errorGenerator + '</td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '에러 발생 시점' + '</td>' + '<td>' + workdetails + '</td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '에러 구분' + '</td>' + '<td>' + data.result[i].obstacleClassification + '</td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '에러 세부' + '</td>' + '<td>' + data.result[i].obstacleDetails + '</td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '에러 발생 시간' + '</td>' + '<td>' + data.result[i].obstacleTime + '</td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '에러 증상' + '</td>' + '<td><pre>' + data.result[i].obstaclePhenomenon + '</pre></td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '에러 조치' + '</td>' + '<td><pre>' + data.result[i].obstacleResult + '</pre></td>' + '</tr>' + "</table></div></li>"
                    }
                    $('#errorListArea').empty();
                    $('#errorListArea').append(tagList);
                    $('#listArea').listview('refresh');
                },
                error: function(data) {
                    console.log('실패');
                }
            });
        });

        $('.analystError').click(function() {
            var teamId = $(this).children('input[name="teamId"]').val();
            var startDay = $(this).children('input[name="startDay"]').val();
            var endDay = $(this).children('input[name="endDay"]').val();
            var errName = encodeURI($(this).children('input[name="errorType"]').val(), "UTF-8");
            $.ajax({
                url: 'http://localhost:3000/teams/' + teamId + '/analystEvaluationError/' + errName,
                type: 'GET',
                dataType: 'JSON',
                data: {
                    startDay: startDay,
                    endDay: endDay,
                    action: 1
                },
                success: function(data) {
                    var tagList = "";
                    for (var i = 0; i < data.result.length; i++) {
                        tagList += "<li class=\"list-group-item\"><div><table class=\"table table-bordered\">" +
                            '<tr>' + '<td colspan=\'2\'>' + data.result[i].errName+ ' 에러사항' + '</td>' +'</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '에러 발생 날짜' + '</td>' + '<td>' + data.result[i].date + '</td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '팀' + '</td>' + '<td>' + data.result[i].teamName + '</td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '조장' + '</td>' + '<td>' + data.result[i].teamLeader + '</td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '에러 발견자' + '</td>' + '<td>' + data.result[i].errFinder + '</td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '에러 구분' + '</td>' + '<td>' + data.result[i].errName + '</td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '에러 증상' + '</td>' + '<td><pre>' + data.result[i].obstaclePhenomenon + '</pre></td>' + '</tr>' +
                            '<tr>' + '<td class=\'errorPopupProperty\'>' + '에러 조치' + '</td>' + '<td><pre>' + data.result[i].obstacleResult + '</pre></td>' + '</tr>' + "</table></div></li>"
                    }
                    $('#errorListArea').empty();
                    $('#errorListArea').append(tagList);
                    $('#listArea').listview('refresh');
                },
                error: function(data) {
                    alert('실패');
                }
            });
        });

        $('.excelDownBtn').click(function() {
            var tableId = 'errorTbl' + $(this).attr('id');
            console.log(tableId);
            $('#' + tableId).excelexportjs({
                containerid: tableId,
                datatype: 'table'
            });
        });
    });
</script>
</body>
</html>