<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- 메타 정보 선언 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 제이쿼리 모바일, 제이쿼리 라이브러리 파일 선언 -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />

    <!-- 사용자 스타일 시트 파일 선언 -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div data-role='header' data-position="fixed" id=partsteamreport-header">
        <h1><label id="partsteamreport-teamName"><%=teamName%> <label id="partsteamreport-date"><%=date%></label></h1>
    </div>
    <div data-role="content">
        <div id="partsteamreport-basic-info">
            조원: <b><%=teamMember%></b> <br/>
            조장: <b><%=teamLeader%></b> <br/>
            측정장비: <br/>
            <div class="partsteamreport-basic-info-details">
                <% for(var i = 0; i < employee.length; i++) { %>
                    <%=employee[i].name%> : <b><%=employee[i].equipment%></b> <br/>
                <% } %>
            </div>
            금일 측정 지역: <b><%=location%></b><br/>
            계획 대비 실적: <br/>
            <table>
                <tr>
                    <td></td><td><b>계획</b></td><td><b>실제</b></td>
                </tr>
                <tr>
                    <td><b>총 호량</b></td>
                    <td>
                        <%
                            var totalPlanCalls = 0;
                            for (var i = 0; i < performance.length; i++) {
                               totalPlanCalls += performance[i].planCalls;
                            }
                        %>
                        <b>
                            <%=totalPlanCalls%>
                        </b>
                    </td>
                    <td>
                        <%
                            var totalMeasurCalls = 0;
                            for (var i = 0; i < performance.length; i++) {
                                totalMeasurCalls += performance[i].measureCalls;
                            }
                        %>
                        <b>
                            <%=totalMeasurCalls%>
                        </b>
                    </td>
                </tr>
                <%
                    for (var i = 0; i < performance.length; i++) { %>
                        <tr>
                            <td><b><%=performance[i].equipmentName%></b></td>
                            <td><b><%=performance[i].planCalls%></b></td>
                            <td><b><%=performance[i].measureCalls%></b></td>
                        </tr>
                <%
                    }
                %>
            </table>
            금일 측정 대상: <b><%=measureObj%></b> <br/>
            금일 에러 발생 총 건수: <font color="red"><b><%=totalErrorCount%></b></font> 건<br/>
            금일 에러 발생 총 시간: <font color="red"><b><%=totalDelayTime%></b></font><br/>
            차량: <br/>
            <div class="partsteamreport-basic-info-details">
                차량 종류: <b><%=carType%></b><br/>
                차량 번호: <b><%=carNumber%></b><br/>
                업무 후 차량 관리자: <b><%=carManager%></b><br/>
                측정 시작 전 Km: <b><%=carMileageBefore%></b><br/>
                측정 종료 후 Km: <b><%=carMileageAfter%></b><br/>
                현재 주유 상태: <b><%=carRefuelState%></b>
            </div>
        </div>
        <br>
        <div>
            <%
                var maxNum = 0;
                var maxNumflag = 0;
                for(var i = 0; i < employee.length; i++) {
                    if (maxNum < employee[i].work.length) {
                        maxNum = employee[i].work.length;
                        maxNumflag = i;
                    }
                }
                for(var i = 0; i < employee[maxNumflag].work.length; i++) {
            %>
                <li data-role="collapsible" data-iconpos="false">
                    <h6><%
                            if (employee[maxNumflag].work[i].workDetails < 100) { %>
                                <%=employee[maxNumflag].work[i].workDetails%>차 측정
                        <%  } else {
                                switch (employee[maxNumflag].work[i].workDetails) {
                                    case 100: %>
                                        집 대상지 이동
                        <%              break; %>
                        <%          case 101: %>
                                        대상지 도착 후 SETUP
                        <%              break; %>
                        <%          case 102: %>
                                        측정 종료 후 복귀 시간
                        <%              break; %>
                        <%          case 103: %>
                                        FTP측정 데이터 업로드
                        <%              break;
                                }
                            }
                        %>
                        (<%=employee[maxNumflag].work[i].startTime%> ~ <%=employee[maxNumflag].work[i].endTime%>)
                    </h6>
                    <div>
                        hi
                    </div>
                </li>
            <%
                }
            %>
        </div>
    </div>
    <div data-role="footer" data-position="fixed">
        <h1>icomwiz</h1>
    </div>
    <script>

    </script>
</body>
</html>