<!DOCTYPE html>
<html>
<head>
    <!-- 메타 정보 선언 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 제이쿼리 모바일, 제이쿼리 라이브러리 파일 선언 -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />

    <!-- 사용자 스타일 시트 파일 선언 -->
    <link rel='stylesheet' href='/stylesheets/parts-car-state-style.css' />

    <!-- table을 excel로 export하기 위한 library 선언 -->
    <script type="text/javascript" src="/scripts/jquery.techbytarun.excelexportjs.js"></script>
</head>
<body>
<!-- 차량관리 페이지 -->
<div data-role="page" id="main">
    <div data-role="header" data-position="fixed">
        <h1>차량 관리</h1>
    </div>
    <div data-role="content">
        <% for(var i = 0; i < result.length; i++) { %>
        <table id="carTbl<%=i%>">
            <thead>
                <th class="month" colspan="<%=result[i].lastDay + 1%>"><%=result[i].year + '년 ' + result[i].month + '월'%></th>
                <tr>
                    <td>차량</td>
                    <% for (var k = 1; k <= result[i].lastDay; k++) { %>
                    <td><%=k%>일</td>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for (var j = 0; j < result[i].dayDatas.length; j++) { %>
                <tr>
                    <td class="carName">
                        <%=result[i].dayDatas[j].carType%>
                        <%=result[i].dayDatas[j].carNumber%>
                    </td>
                    <% for (var k = 0; k < result[i].lastDay; k ++) {
                        var day = 'day' + (k + 1);
                    %>
                    <td>
                        <a href="#teamAndCarInfo" data-rel="popup" data-transition="pop" data-position-to="window" class="teamName"><%=result[i].dayDatas[j][day]%></a>
                        <input type="hidden" name="year" value="<%=result[i].year%>">
                        <input type="hidden" name="month" value="<%=result[i].month%>">
                        <input type="hidden" name="day" value="<%=(k+1)%>">
                    </td>
                    <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>
        <a data-role="button" class="excelDownBtn" data-inline="true" data-theme="b" id="<%=i%>">엑셀로 다운로드</a>
        <br/><br/><br/><br/>
        <% } %>
    </div>
    <div data-role="footer" data-position="fixed">
    </div>

    <!-- 팀 이름을 눌렀을때 팀이 그 차량을 탄 정보 -->
    <div data-role="popup" id="teamAndCarInfo">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <div style="padding:10px 20px;">
            <table id="detailcarTbl">
                <thead>
                    <tr>
                        <td colspan="2" id="date"></td>
                    </tr>
                    <tr>
                        <td colspan="2" id="popupTblTeamName"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="property">차량</td>
                        <td id="popupTblCar"></td>
                    </tr>
                    <tr>
                        <td class="property">조원</td>
                        <td id="popupTblTeamMember"></td>
                    </tr>
                    <tr>
                        <td class="property">조장</td>
                        <td id="popupTblTeamLeader"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="property">금일 차량 운행 정보</td>
                    </tr>
                    <tbody id="driveInfo">
                    </tbody>
                    <tr>
                    </tr>
                    <tr>
                        <td class="property">측정 전 주행 Km</td>
                        <td id="popupTblcarMileageBefore"></td>
                    </tr>
                    <tr>
                        <td class="property">측정 후 주행 Km</td>
                        <td id="popupTblcarMileageAfter"></td>
                    </tr>
                    <tr>
                        <td class="property">주유 상태</td>
                        <td id="popupTblrefuelingState"></td>
                    </tr>
                    <tr>
                        <td class="property">주유 금액</td>
                        <td id="popupTblrefuelingPrice"></td>
                    </tr>
                    <tr>
                        <td class="property">금일 차량 특이사항</td>
                        <td id="popupTblcarSignificant"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a data-role="button" class="excelDownBtn2" data-inline="true" data-theme="b">엑셀로 다운로드</a>
    </div>
</div>
<script>
    $(function() {
        $('.excelDownBtn').click(function() {
            var tableId = 'carTbl' + $(this).attr('id');
            $('#' + tableId).excelexportjs({
                containerid: tableId,
                datatype: 'table'
            });
        });

        $('.excelDownBtn2').click(function() {
            $('#' + 'detailcarTbl').excelexportjs({
                containerid: 'detailcarTbl',
                datatype: 'table'
            });
        });

        $('.teamName').bind('click', function() {
            $.ajax({
                url: "http://localhost:3000/reports/detailcarinfo",
                type: "GET",
                dataType: "JSON",
                data: {
                    year: $(this).siblings('input[name="year"]').val(),
                    month: $(this).siblings('input[name="month"]').val(),
                    day: $(this).siblings('input[name="day"]').val(),
                    teamName: encodeURI($(this).text(), "UTF-8")
                },
                success: function(data) {
                    if (data.detailResult.code === 0) {
                        alert('데이터를 가져올 수 없습니다.');
                    } else {
                        $('#date').text(data.detailResult.date);
                        $('#popupTblTeamName').text(data.detailResult.teamName); //팀 이름
                        $('#popupTblCar').text(data.detailResult.carType + '\n' + data.detailResult.carNumber); //차량
                        $('#popupTblTeamMember').text(data.detailResult.teamMember); //조원
                        $('#popupTblTeamLeader').text(data.detailResult.teamLeader); //조장
                        $('#popupTblcarMileageBefore').text(data.detailResult.carMileageBefore); //측정 전 주행 Km
                        $('#popupTblcarMileageAfter').text(data.detailResult.carMileageAfter); //측정 후 주행 Km
                        var carRefuelState = data.detailResult.carRefuelState;
                        switch (carRefuelState) {
                            case 0:
                                carRefuelState = '미입력';
                                break;
                            case 1:
                                carRefuelState = '하';
                                break;
                            case 2:
                                carRefuelState = '중하';
                                break;
                            case 3:
                                carRefuelState = '중';
                                break;
                            case 4:
                                carRefuelState = '중상';
                                break;
                            case 5:
                                carRefuelState = '상';
                                break;
                        }
                        $('#popupTblrefuelingState').text(carRefuelState); //주유상태
                        $('#popupTblrefuelingPrice').text(data.detailResult.refuelingPrice); //주유 금액
                        $('#popupTblcarSignificant').text(data.detailResult.carSignificant); //금일 차량 특이사항
                        var tagList = '';
                        for (var i = 0; i < data.detailResult.carDriveInfo.length; i++) {
                            tagList += '<tr>' + '<td colspan="2">' + '<span id="carDriveInfoLocation">' + data.detailResult.carDriveInfo[i].location + '</span>' + ' ' + '<span id="carDriveInfoTime">' + data.detailResult.carDriveInfo[i].time + '</span>' + '</td>' + '</tr>';
                        }
                        $('#driveInfo').empty();
                        $('#driveInfo').append(tagList);
                        $('#driveInfo').listview('refresh');
                    }
                }, error: function(data) {
                    alert('fail');
                }
            });
        });
    });
</script>
</body>
</html>