<!DOCTYPE html>
<html>
<head>
    <!-- 메타 정보 선언 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- table을 excel로 export하기 위한 library 선언 -->
    <script type="text/javascript" src="/scripts/jquery.techbytarun.excelexportjs.js"></script>

    <!-- 사용자 스타일 시트 파일 선언 -->
    <link rel='stylesheet' href='/stylesheets/parts-car-style.css' />

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- table을 excel로 export하기 위한 library 선언 -->
    <script type="text/javascript" src="/scripts/jquery.techbytarun.excelexportjs.js"></script>
</head>
<body>
    <div class="page-header">
        <h1>차량 현황 <small>월별 현황</small></h1>
    </div>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#first">팀별 차량현황</a></li>
        <li role="presentation"><a href="#second">주행Km별 차량현황</a></li>
    </ul>
    <div class="tab-content" style="margin-top: 80px;">
        <div class="tab-pane fade active in" id="first">
            <% for(var i = 0; i < result.length; i++) { %>
            <table class="table table-bordered" id="carTbl1<%=i%>">
                <thead>
                <tr>
                    <td class="month" colspan="<%=result[i].lastDay + 1%>"><%=result[i].year + '년 ' + result[i].month + '월'%></td>
                </tr>
                <tr>
                    <td>차량</td>
                    <% for (var k = 1; k <= result[i].lastDay; k++) { %>
                    <td><%=k%>일</td>
                    <% } %>
                </tr>
                </thead>
                <tbody>
                <% for (var j = 0; j < result[i].dayDatas.length; j++) { %>
                <tr>
                    <td class="carName">
                        <%=result[i].dayDatas[j].carType%>
                        <%=result[i].dayDatas[j].carNumber%>
                    </td>
                    <%
                    for (var k = 0; k < result[i].lastDay; k ++) {
                        var day = 'day' + (k + 1);
                    if (result[i].dayDatas[j][day]) { %>
                    <td class="true-teamName">
                        <a data-toggle="modal" data-target="#myModal" class="teamName"><%=result[i].dayDatas[j][day]%></a><BR>
                        <input type="hidden" name="year" value="<%=result[i].year%>">
                        <input type="hidden" name="month" value="<%=result[i].month%>">
                        <input type="hidden" name="day" value="<%=(k+1)%>">
                    </td>
                    <%
                    } else {
                    %>
                    <td></td>
                    <%      }
                    }
                    %>
                </tr>
                <% } %>
                </tbody>
            </table>
            <button class="excelDownBtn1" id="<%=i%>">엑셀로 다운로드</button>
            <BR><BR><BR><BR><BR><BR>
            <% } %>
        </div>
        <div class="tab-pane fade" id="second">
            <% for(var i = 0; i < result.length; i++) { %>
            <table class="table table-bordered" id="carTbl2<%=i%>">
                <thead>
                <tr>
                    <td class="month" colspan="<%=result[i].lastDay + 1%>"><%=result[i].year + '년 ' + result[i].month + '월'%></td>
                </tr>
                <tr>
                    <td>차량</td>
                    <% for (var k = 1; k <= result[i].lastDay; k++) { %>
                    <td><%=k%>일</td>
                    <% } %>
                </tr>
                </thead>
                <tbody>
                <% for (var j = 0; j < result[i].dayDatas.length; j++) { %>
                <tr>
                    <td class="carName">
                        <%=result[i].dayDatas[j].carType%>
                        <%=result[i].dayDatas[j].carNumber%>
                    </td>
                    <%
                    for (var k = 0; k < result[i].lastDay; k ++) {
                        var day = 'day' + (k + 1);
                    if (result[i].dayDatas[j][day]) { %>
                    <td class="true-teamName">
                        <p>
                            <a data-toggle="modal" data-target="#myModal" class="teamName"><%=result[i].dayDatas[j][day]%></a>
                            <input type="hidden" name="year" value="<%=result[i].year%>">
                            <input type="hidden" name="month" value="<%=result[i].month%>">
                            <input type="hidden" name="day" value="<%=(k+1)%>">
                        </p>
                        <p class="km-property">주행 거리<br>
                            <small class="km-value">
                                <%
                                    if (((result[i].dayDatas[j][day + 'After'] || 0) - (result[i].dayDatas[j][day + 'Before'])) < 0) {
                                %>
                                측정 중
                                <%
                                    } else {
                                %>
                                <%=result[i].dayDatas[j][day + 'After'] - result[i].dayDatas[j][day + 'Before']%>Km
                                <%
                                    }
                                %>
                            </small>
                        </p>
                    </td>
                    <%
                    } else {
                    %>
                    <td></td>
                    <%      }
                    }
                    %>
                </tr>
                <% } %>
                </tbody>
            </table>
            <button class="excelDownBtn2" id="<%=i%>">엑셀로 다운로드</button>
            <BR><BR><BR><BR><BR><BR>
            <% } %>
        </div>
        <!-- 모달 팝업 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">차량 현황</h4>
                    </div>
                    <div class="modal-body">
                        <table id="detailcarTbl" class="table table-bordered">
                            <thead>
                            <tr>
                                <td colspan="2" id="date" class="month"></td>
                            </tr>
                            <tr>
                                <td colspan="2" id="popupTblTeamName"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="property">차량</td>
                                <td class="value" id="popupTblCar"></td>
                            </tr>
                            <tr>
                                <td class="property">조원</td>
                                <td class="value" id="popupTblTeamMember"></td>
                            </tr>
                            <tr>
                                <td class="property">조장</td>
                                <td class="value" id="popupTblTeamLeader"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="property">금일 차량 운행 정보</td>
                            </tr>
                            <tbody id="driveInfo">
                            </tbody>
                            <tr>
                            </tr>
                            <tr>
                                <td class="property">측정 전 주행 Km</td>
                                <td class="value" id="popupTblcarMileageBefore"></td>
                            </tr>
                            <tr>
                                <td class="property">측정 후 주행 Km</td>
                                <td class="value" id="popupTblcarMileageAfter"></td>
                            </tr>
                            <tr>
                                <td class="property">주유 상태</td>
                                <td class="value" id="popupTblrefuelingState"></td>
                            </tr>
                            <tr>
                                <td class="property">주유 금액</td>
                                <td class="value" id="popupTblrefuelingPrice"></td>
                            </tr>
                            <tr>
                                <td class="property">금일 차량 특이사항</td>
                                <td class="value" id="popupTblcarSignificant"></td>
                            </tr>
                            </tbody>
                            <button class="excelDownBtn3">엑셀로 다운로드</button>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(function() {
        $('ul.nav-pills a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });

        $('.excelDownBtn1').click(function() {
            var tableId = 'carTbl1' + $(this).attr('id');
            $('#' + tableId).excelexportjs({
                containerid: tableId,
                datatype: 'table'
            });
        });

        $('.excelDownBtn2').click(function() {
            var tableId = 'carTbl2' + $(this).attr('id');
            $('#' + tableId).excelexportjs({
                containerid: tableId,
                datatype: 'table'
            });
        });

        $('.excelDownBtn3').click(function() {
            $('#' + 'detailcarTbl').excelexportjs({
                containerid: 'detailcarTbl',
                datatype: 'table'
            });
        });

        $('.teamName').bind('click', function() {
            $.ajax({
                url: "http://localhost:3000/reports/detailcarinfo",
                type: "GET",
                dataType: "JSON",
                data: {
                    year: $(this).siblings('input[name="year"]').val(),
                    month: $(this).siblings('input[name="month"]').val(),
                    day: $(this).siblings('input[name="day"]').val(),
                    teamName: encodeURI($(this).text(), "UTF-8")
                },
                success: function(data) {
                    if (data.detailResult.code === 0) {
                        alert('데이터를 가져올 수 없습니다.');
                    } else {
                        $('#date').text(data.detailResult.date);
                        $('#popupTblTeamName').text(data.detailResult.teamName); //팀 이름
                        $('#popupTblCar').text(data.detailResult.carType + '\n' + data.detailResult.carNumber); //차량
                        $('#popupTblTeamMember').text(data.detailResult.teamMember); //조원
                        $('#popupTblTeamLeader').text(data.detailResult.teamLeader); //조장
                        $('#popupTblcarMileageBefore').text(data.detailResult.carMileageBefore); //측정 전 주행 Km
                        $('#popupTblcarMileageAfter').text(data.detailResult.carMileageAfter); //측정 후 주행 Km
                        var carRefuelState = data.detailResult.carRefuelState;
                        switch (carRefuelState) {
                            case 0:
                                carRefuelState = '미입력';
                                break;
                            case 1:
                                carRefuelState = '하';
                                break;
                            case 2:
                                carRefuelState = '중하';
                                break;
                            case 3:
                                carRefuelState = '중';
                                break;
                            case 4:
                                carRefuelState = '중상';
                                break;
                            case 5:
                                carRefuelState = '상';
                                break;
                        }
                        $('#popupTblrefuelingState').text(carRefuelState); //주유상태
                        $('#popupTblrefuelingPrice').text(data.detailResult.refuelingPrice); //주유 금액
                        $('#popupTblcarSignificant').text(data.detailResult.carSignificant); //금일 차량 특이사항
                        var tagList = '';
                        for (var i = 0; i < data.detailResult.carDriveInfo.length; i++) {
                            tagList += '<tr>' + '<td colspan="2">' + '<span id="carDriveInfoLocation">' + data.detailResult.carDriveInfo[i].location + '</span>' + ' ' + '<span id="carDriveInfoTime">' + data.detailResult.carDriveInfo[i].time + '</span>' + '</td>' + '</tr>';
                        }
                        $('#driveInfo').empty();
                        $('#driveInfo').append(tagList);
                        $('#driveInfo').listview('refresh');
                    }
                }, error: function(data) {
                    alert('fail');
                }
            });
        });
    });
</script>
</body>
</html>