<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- 메타 정보 선언 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 제이쿼리 모바일, 제이쿼리 라이브러리 파일 선언 -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />

    <!-- 사용자 스타일 시트 파일 선언 -->
    <link rel='stylesheet' href='/stylesheets/parts-team-report-style.css' />
</head>
<body>
    <div data-role='header' data-position="fixed" id=partsteamreport-header">
        <h1><label id="partsteamreport-teamName"><%=teamName%></label> <label id="partsteamreport-date"><%=date%></label> </h1>
    </div>
    <div data-role="content">
        <div id="partsteamreport-basic-info">
            조원: <b><%=teamMember%></b> <br/>
            조장: <b><%=teamLeader%></b> <br/>
            측정장비: <br/>
            <div class="partsteamreport-basic-info-details">
                <% for(var i = 0; i < employees.length; i++) { %>
                    <%=employees[i].name%> : <b><%=employees[i].equipment%></b> <br/>
                <% } %>
            </div>
            금일 측정 지역: <b><%=location%></b><br/>
            계획 대비 실적: <br/>
            <table>
                <tr>
                    <td></td><td><b>계획</b></td><td><b>실제</b></td>
                </tr>
                <tr>
                    <td><b>총 호량</b></td>
                    <td>
                        <%
                            var totalPlanCalls = 0;
                            for (var i = 0; i < performances.length; i++) {
                               totalPlanCalls += performances[i].planCalls;
                            }
                        %>
                        <b>
                            <%=totalPlanCalls%>
                        </b>
                    </td>
                    <td>
                        <%
                            var totalMeasurCalls = 0;
                            for (var i = 0; i < performances.length; i++) {
                                totalMeasurCalls += performances[i].measureCalls;
                            }
                        %>
                        <b>
                            <%=totalMeasurCalls%>
                        </b>
                    </td>
                </tr>
                <%
                    for (var i = 0; i < performances.length; i++) { %>
                        <tr>
                            <td><b><%=performances[i].equipmentName%></b></td>
                            <td><b><%=performances[i].planCalls%></b></td>
                            <td><b><%=performances[i].measureCalls%></b></td>
                        </tr>
                <%
                    }
                %>
            </table>
            금일 측정 대상: <b><%=measureObj%></b> <br/>
            금일 에러 발생 총 건수: <font color="red"><b><%=totalErrorCount%></b></font> 건<br/>
            금일 에러 발생 총 시간: <font color="red"><b><%=totalDelayTime%></b></font><br/>
            차량: <br/>
            <div class="partsteamreport-basic-info-details">
                차량 종류: <b><%=carType%></b><br/>
                차량 번호: <b><%=carNumber%></b><br/>
                업무 후 차량 관리자: <b><%=carManager%></b><br/>
                측정 시작 전 Km: <b><%=carMileageBefore%></b><br/>
                측정 종료 후 Km: <b><%=carMileageAfter%></b><br/>
                현재 주유 상태: <b><%=carRefuelState%></b>
            </div> <br/>
            종합: <br/>
            <table>
                <tr>
                    <td></td><td>금일 차량 특이사항</td><td>금일 실적 미완료 원인</td><td>향후 조치 방안</td>
                </tr>
                <%
                    if (finishInfos.length !== 0) {
                        for (var i = 0; i < finishInfos.length; i ++) {
                %>
                <tr>
                    <td><%=finishInfos[i].employeeName%></td><td><%=finishInfos[i].carSignificant%></td><td><%=finishInfos[i].causeOfIncompletion%></td><td><%=finishInfos[i].planOfIncompletion%></td>
                </tr>
                <%
                        }
                    }
                %>
            </table>
        </div>


        <br>
        <div>
            <%
                for(var i = 0; i < avgWorkDetails.length; i ++ ) {
            %>
                <li data-role="collapsible" data-iconpos="false">
                    <h6><%
                            if (avgWorkDetails[i].workDetails < 100) { %>
                                <%=avgWorkDetails[i].workDetails%> 차 측정
                        <%  } else {
                                switch (avgWorkDetails[i].workDetails) {
                                    case 100: %>
                                        집 대상지 이동
                        <%              break; %>
                        <%          case 101: %>
                                        대상지 도착 후 SETUP
                        <%              break; %>
                        <%          case 102: %>
                                        측정 종료 후 복귀 시간
                        <%              break; %>
                        <%          case 103: %>
                                        FTP측정 데이터 업로드
                        <%              break;
                                }
                            }
                        %>
                        <font class="partsteamreport-time">(<%=avgWorkDetails[i].startTime%> ~ <%=avgWorkDetails[i].endTime%>)</font><br/>
                        <font class="partsteamreport-location"><%=avgWorkDetails[i].location%> <%=avgWorkDetails[i].target1%></font><br/>
                        <% if (avgWorkDetails[i].calls !== 0) { %>
                            <font class="partsteamreport-calls"><%=avgWorkDetails[i].calls%> calls</font>
                        <% } %>
                        <% if (avgWorkDetails[i].error != 0) { %>
                            <font class="partsteamreport-error">에러 발생</font>
                        <% } %>
                    </h6>
                    <div>
                        <table>
                            <tr>
                                <td></td>
                                <% for(var j = 0; j < employees.length; j++) {%>
                                    <td><%=employees[j].equipment%></td>
                                <% } %>
                            </tr>
                            <tr>
                                <td>장비 담당</td>
                                <% for(var j = 0; j < employees.length; j++) {%>
                                    <td><%=employees[j].name%></td>
                                <% } %>
                            </tr>
                            <tr>
                                <td>시간</td>
                                <% for(var j = 0; j < employees.length; j++) {
                                    var measureTime = '';
                                    if (typeof employees[j].work[i] != 'undefined') {
                                        measureTime = employees[j].work[i].startTime + ' ~ ' + employees[j].work[i].endTime;
                                    } %>
                                <td><%=measureTime%></td>
                                <% } %>
                            </tr>
                            <tr>
                                <td>측정 호량</td>
                                <% for(var j = 0; j < employees.length; j++) {
                                    var calls = '';
                                    if (typeof employees[j].work[i] != 'undefined') {
                                        if (employees[j].work[i].calls != '') {
                                            calls = employees[j].work[i].calls + ' calls';
                                        }
                                    } %>
                                    <td><%=calls%></td>
                                <% } %>
                            </tr>
                            <tr>
                                <td>측정 대상</td>
                                <% for(var j = 0; j < employees.length; j++) {
                                    var target2 = '';
                                    if (typeof employees[j].work[i] != 'undefined') {
                                        target2 = employees[j].work[i].target2
                                    } %>
                                <td><%=target2%></td>
                                <% } %>
                            </tr>
                            <tr>
                                <td>장애 구분</td>
                                <% for(var j = 0; j < employees.length; j++) {
                                    var obstacleClassification = '';
                                    if (typeof employees[j].work[i] != 'undefined') {
                                        obstacleClassification = employees[j].work[i].obstacleClassification
                                    } %>
                                <td><%=obstacleClassification%></td>
                                <% } %>
                            </tr>
                            <tr>
                                <td>장애 세부 내역</td>
                                <% for(var j = 0; j < employees.length; j++) {
                                    var obstacleDetails = '';
                                    if (typeof employees[j].work[i] != 'undefined') {
                                        obstacleDetails = employees[j].work[i].obstacleDetails
                                    } %>
                                <td><%=obstacleDetails%></td>
                                <% } %>
                            </tr>
                            <tr>
                                <td>장애 발생 시간</td>
                                <% for(var j = 0; j < employees.length; j++) {
                                    var obstacleTime = '';
                                    if (typeof employees[j].work[i] != 'undefined') {
                                        if(employees[j].work[i].type === 1) {
                                            obstacleTime = employees[j].work[i].obstacleStartTime + ' ~ ' + employees[j].work[i].obstacleEndTime;
                                        }
                                    } %>
                                <td><%=obstacleTime%></td>
                                <% } %>
                            </tr>
                            <tr>
                                <td>지연 시간</td>
                                <% for(var j = 0; j < employees.length; j++) {
                                    var delayTime = '';
                                    if (typeof employees[j].work[i] != 'undefined') {
                                        delayTime = employees[j].work[i].delayTime
                                    } %>
                                <td><%=delayTime%></td>
                                <% } %>
                            </tr>
                            <tr>
                                <td>지연 현상</td>
                                <% for(var j = 0; j < employees.length; j++) {
                                    var obstaclePhenomenon = '';
                                    if (typeof employees[j].work[i] != 'undefined') {
                                        obstaclePhenomenon = employees[j].work[i].obstaclePhenomenon
                                    } %>
                                <td><%=obstaclePhenomenon%></td>
                                <% } %>
                            </tr>
                            <tr>
                                <td>처리 결과<br/>(PM지시)</td>
                                <% for(var j = 0; j < employees.length; j++) {
                                    var obstacleResult = '';
                                    if (typeof employees[j].work[i] != 'undefined') {
                                        obstacleResult = employees[j].work[i].obstacleResult
                                    } %>
                                <td><%=obstacleResult%></td>
                                <% } %>
                            </tr>
                        </table>
                    </div>
                </li>
            <%
                }
            %>
        </div>
    </div>
    <div data-role="footer" data-position="fixed">
        <h1>icomwiz</h1>
    </div>
</body>
</html>